Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
  pytest-changed-files: any of: ^victor/.*\.py$|^tests/unit/.*\.py$

fix: improve observability, teams, and UI reliability
  victor/observability/emitters/state_emitter.py
  victor/teams/unified_coordinator.py
  victor/ui/tui/widgets.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

ci: add comprehensive test regression workflow for 100% TDD coverage
  .github/workflows/test-regression.yml
Due: none

docs: add comprehensive test organization and CI/CD documentation
  TEST_ORGANIZATION_AND_CICD.md
Due: none

refactor: consolidate duplicate test directories
  examples/embedding_benchmark_example.py
  run_performance_validation.py
  scripts/analyze_embedding_benchmarks.py
  scripts/run_embedding_comparison.py
  scripts/run_tool_selection_benchmarks.py
  tests/benchmark/benchmarks/README.md
  tests/benchmark/benchmarks/README_EMBEDDING_BENCHMARKS.md
  tests/benchmark/benchmarks/__init__.py
  tests/benchmark/benchmarks/test_ast_processing_baseline.py
  tests/benchmark/benchmarks/test_embedding_operations_baseline.py
  tests/benchmark/benchmarks/test_performance_optimizations.py
  tests/benchmark/benchmarks/test_tool_selection_benchmark.py
  tests/benchmark/benchmarks/test_tool_selection_performance.py
  tests/benchmark/benchmarks/test_tool_selection_performance_fixed.py
  tests/benchmark/benchmarks/test_tool_selection_rust_baseline.py
  tests/load/framework/README.md
  tests/load/framework/__init__.py
  tests/load/framework/conftest.py
  tests/load/framework/load_test_framework.py
  tests/load/framework/test_scalability.py
  victor/agent/orchestrator_factory.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: flatten test directories and eliminate unnecessary nesting
  examples/embedding_benchmark_example.py
  run_performance_validation.py
  scripts/analyze_embedding_benchmarks.py
  scripts/run_embedding_comparison.py
  scripts/run_tool_selection_benchmarks.py
  tests/benchmark/benchmarks/test_tool_selection_performance_fixed.py
  tests/benchmark/test_ast_processing_baseline.py
  tests/benchmark/test_embedding_operations_baseline.py
  tests/benchmark/test_json_serialization_benchmarks.py
  tests/benchmark/test_tool_selection_benchmark.py
  tests/benchmark/test_tool_selection_benchmarks.py
  tests/benchmark/test_tool_selection_rust_baseline.py
  tests/load/__init__.py
  tests/load/framework.py
  tests/load/framework_conftest.py
  tests/load/load_testing_framework.md
  tests/load/test_load_scalability.py
  victor/tools/browser_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: flatten all performance/load/benchmark test directories
  tests/benchmark/README.md
  tests/benchmark/README_EMBEDDING_BENCHMARKS.md
  tests/benchmark/benchmarks/__init__.py
  tests/benchmark/test_performance_baselines.py
  tests/integration/test_performance_scenarios.py
  tests/load/test_load_scalability.py
  tests/performance/README.md
  tests/performance/opt_test_lazy_loading_performance.py
  tests/performance/opt_test_optimization_performance.py
  tests/performance/opt_test_parallel_performance.py
  tests/performance/opt_test_phase4_performance.py
  tests/performance/optimizations/__init__.py
  tests/performance/test_initialization.py
  tests/performance/test_memory.py
  tests/performance/test_throughput.py
  tests/performance/test_vertical_performance.py
  tests/performance/verticals/__init__.py
  tests/security/test_penetration_testing.py
  tests/security/test_security_audit.py
Due: check-file-size

docs: add test consolidation analysis and summary
  TEST_CONSOLIDATION_SUMMARY.md
Due: none

fix: resolve requires_ollama import conflict in test_performance_scenarios.py
  tests/integration/test_performance_scenarios.py
Due: check-file-size

chore: remove temporary analysis script
  analyze_test_duplicates.py
  tests/performance/opt_test_phase4_performance.py
  tests/performance/test_throughput.py
  tests/security/test_security_audit.py
  victor/agent/teams/communication.py
  victor/core/async_utils.py
  victor/core/errors.py
  victor/core/security/patterns/secrets.py
  victor/core/verticals/lazy_loader.py
  victor/providers/vllm_provider.py
  victor/tools/security_scanner_tool.py
  victor/ui/slash/commands/session.py
  victor/workflows/ml_formation_selector.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: correct import paths and add missing async keywords
  tests/load/test_load_scalability.py
  victor/providers/stream_adapter.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: prevent pytest collection hang in load tests
  tests/load/async_framework.py
  tests/load/conftest.py
  tests/load/framework_conftest.py
  tests/load/test_load_scalability.py
Due: check-file-size

ci: change load tests to manual trigger with Locust
  .github/workflows/test-regression.yml
  pytest.ini
Due: none

fix: update load test ports to match victor serve default (8765)
  .github/workflows/test-regression.yml
  tests/load/async_framework.py
  tests/load/conftest.py
  tests/load/framework_conftest.py
Due: check-file-size

fix: correct API endpoint path in Locust files
  tests/load/locustfiles/locustfile_api.py
  tests/load/locustfiles/locustfile_chat.py
  tests/load/locustfiles/locustfile_tools.py
Due: check-file-size

fix: correct default endpoint in async_framework.py
  tests/load/async_framework.py
Due: check-file-size

fix: correct payload format in Locust files
  tests/load/locustfiles/locustfile_chat.py
  tests/load/locustfiles/locustfile_tools.py
Due: check-file-size

refactor(agent): fix type errors in agent coordinators and core
  victor/agent/adapters/coordinator_adapter.py
  victor/agent/cache/backends/factory.py
  victor/agent/cache/backends/redis.py
  victor/agent/capabilities/registry.py
  victor/agent/context_compactor.py
  victor/agent/conversation_memory.py
  victor/agent/conversation_state.py
  victor/agent/coordinators/chat_coordinator.py
  victor/agent/coordinators/middleware_coordinator.py
  victor/agent/coordinators/prompt_coordinator.py
  victor/agent/coordinators/tool_call_coordinator.py
  victor/agent/coordinators/tool_coordinator.py
  victor/agent/coordinators/tool_execution_coordinator.py
  victor/agent/coordinators/validation_coordinator.py
  victor/agent/improvement/proficiency_tracker.py
  victor/agent/improvement/rl_coordinator.py
  victor/agent/intelligent_pipeline.py
  victor/agent/memory_manager.py
  victor/agent/mixins/legacy_api.py
  victor/agent/orchestrator.py
  victor/agent/orchestrator_factory.py
  victor/agent/orchestrator_integration.py
  victor/agent/orchestrator_recovery.py
  victor/agent/orchestrator_utils.py
  victor/agent/planning/task_decomposition.py
  victor/agent/provider_lifecycle_manager.py
  victor/agent/provider_manager.py
  victor/agent/response_sanitizer.py
  victor/agent/service_provider.py
  victor/agent/skills/skill_discovery.py
  victor/agent/streaming/continuation.py
  victor/agent/streaming/streaming_coordinator.py
  victor/agent/streaming/tool_execution.py
  victor/agent/task_analyzer.py
  victor/agent/task_coordinator.py
  victor/agent/teams/coordinator.py
  victor/agent/tool_registrar.py
  victor/agent/tool_selector_factory.py
  victor/agent/unified_classifier.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor(core): fix type errors in core systems
  victor/core/async_utils.py
  victor/core/batching/request_batcher.py
  victor/core/cache/response_cache.py
  victor/core/cache/semantic_cache.py
  victor/core/capabilities/types.py
  victor/core/chunking/strategies/html.py
  victor/core/events/kafka_backend.py
  victor/core/events/redis_backend.py
  victor/core/language_capabilities/validators/config_validators.py
  victor/core/language_capabilities/validators/cpp_validator.py
  victor/core/security/patterns/source_credibility.py
  victor/core/verticals/base.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor(framework): fix type errors in framework components
  tests/load/locustfiles/locustfile_chat.py
  victor/agent/coordinators/chat_coordinator.py
  victor/framework/enrichment/search_terms.py
  victor/framework/graph.py
  victor/framework/ingestion/sources/handlers.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor(providers): fix type errors in LLM provider implementations
  victor/providers/anthropic_provider.py
  victor/providers/bedrock_provider.py
  victor/providers/cerebras_provider.py
  victor/providers/concurrency.py
  victor/providers/deepseek_provider.py
  victor/providers/factory.py
  victor/providers/fireworks_provider.py
  victor/providers/google_provider.py
  victor/providers/groq_provider.py
  victor/providers/huggingface_provider.py
  victor/providers/llamacpp_provider.py
  victor/providers/lmstudio_provider.py
  victor/providers/metrics_export.py
  victor/providers/mistral_provider.py
  victor/providers/mock.py
  victor/providers/moonshot_provider.py
  victor/providers/ollama_provider.py
  victor/providers/openrouter_provider.py
  victor/providers/payload_limiter.py
  victor/providers/resilience.py
  victor/providers/stream_adapter.py
  victor/providers/together_provider.py
  victor/providers/vertex_provider.py
  victor/providers/vllm_provider.py
  victor/providers/xai_provider.py
  victor/providers/zai_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix(ui): resolve type errors and syntax issues in UI components
  victor/ui/commands/benchmark.py
  victor/ui/commands/capabilities.py
  victor/ui/commands/chat.py
  victor/ui/commands/embeddings.py
  victor/ui/commands/errors.py
  victor/ui/commands/examples.py
  victor/ui/commands/experiments.py
  victor/ui/commands/memory.py
  victor/ui/commands/rag.py
  victor/ui/commands/scaffold.py
  victor/ui/commands/serve.py
  victor/ui/commands/utils.py
  victor/ui/commands/validate.py
  victor/ui/commands/workflow.py
  victor/ui/output_formatter.py
  victor/ui/slash/commands/metrics.py
  victor/ui/slash/commands/mode.py
  victor/ui/slash/commands/model.py
  victor/ui/slash/commands/session.py
  victor/ui/slash/commands/switch.py
  victor/ui/slash/commands/system.py
  victor/ui/tui/app.py
  victor/ui/tui/widgets.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor(workflows): fix type errors in workflow system
  victor/workflows/advanced_formations_schema.py
  victor/workflows/cache.py
  victor/workflows/generation/validator.py
  victor/workflows/graph_dsl.py
  victor/workflows/ml_formation_selector.py
  victor/workflows/services/credentials.py
  victor/workflows/services/registry.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor(tools): fix type errors in tool implementations
  victor/tools/architecture_summary.py
  victor/tools/audit_tool.py
  victor/tools/base.py
  victor/tools/bash.py
  victor/tools/browser_tool.py
  victor/tools/caches/persistent_cache.py
  victor/tools/caches/predictive_warmer.py
  victor/tools/caches/selection_cache.py
  victor/tools/code_executor_tool.py
  victor/tools/code_intelligence_tool.py
  victor/tools/code_review_tool.py
  victor/tools/code_search_tool.py
  victor/tools/composer.py
  victor/tools/composition/lazy.py
  victor/tools/composition/runnable.py
  victor/tools/database_tool.py
  victor/tools/filesystem.py
  victor/tools/hybrid_tool_selector.py
  victor/tools/lsp_tool.py
  victor/tools/metadata_registry.py
  victor/tools/security_scanner_tool.py
  victor/tools/subprocess_executor.py
  victor/tools/workflow_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix(tools): resolve type errors in workflow editor
  tools/workflow_editor/backend/api.py
Due: check-file-size

refactor: fix additional type errors in tool calling and providers
  victor/agent/tool_calling/capabilities.py
  victor/providers/together_provider.py
  victor/tools/database_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: fix final type errors in tools and workflows
  victor/agent/tool_executor.py
  victor/agent/tool_pipeline.py
  victor/providers/stream_adapter.py
  victor/workflows/services/credentials.py
  victor/workflows/services/providers/docker.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: fix additional type errors from Round 4
  victor/agent/tool_pipeline.py
  victor/agent/tool_result_cache.py
  victor/providers/resilience.py
  victor/providers/together_provider.py
  victor/providers/vertex_provider.py
  victor/security_analysis/tools/scanner_impl.py
  victor/workflows/services/providers/docker.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add context-aware metadata to grounding failure events
  victor/agent/intelligent_pipeline.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: bridge RL events to observability bus for JSONL export
  victor/framework/rl/hooks.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: fix additional type errors from Batch 2
  victor/agent/tool_selector_factory.py
  victor/agent/unified_task_tracker.py
  victor/agent/vertical_integration_adapter.py
  victor/coding/codebase/embeddings/chromadb_provider.py
  victor/coding/codebase/embeddings/lancedb_provider.py
  victor/coding/codebase/embeddings/models.py
  victor/core/cache/semantic_cache.py
  victor/core/capabilities/types.py
  victor/core/chunking/strategies/html.py
  victor/core/language_capabilities/validators/config_validators.py
  victor/providers/openrouter_provider.py
  victor/providers/replicate_provider.py
  victor/providers/resilience.py
  victor/providers/stream_adapter.py
  victor/providers/together_provider.py
  victor/providers/vertex_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: fix type error in memory pressure test
  tests/load/test_memory_pressure.py
Due: check-file-size

test: fix type errors in test files from Round 5 Batch 1
  tests/load/conftest.py
  tests/load/framework.py
  tests/load/framework_conftest.py
  tests/load/test_api_load.py
  tests/load/test_concurrent_users.py
  tests/load/test_load_scalability.py
  tests/load/test_tool_execution_load.py
  tests/load/test_workflow_load.py
  tests/qa/test_comprehensive_qa.py
Due: check-file-size

refactor(agent): fix type errors from Round 5 Batch 1
  victor/agent/capabilities/registry.py
  victor/agent/coordinators/chat_coordinator.py
  victor/agent/coordinators/tool_call_coordinator.py
  victor/agent/intelligent_pipeline.py
  victor/agent/memory_manager.py
  victor/agent/orchestrator.py
  victor/agent/orchestrator_factory.py
  victor/agent/planning/task_decomposition.py
  victor/agent/prompt_corpus_data.py
  victor/agent/provider_lifecycle_manager.py
  victor/agent/service_provider.py
  victor/agent/skills/skill_discovery.py
  victor/agent/streaming/handler.py
  victor/agent/streaming/streaming_coordinator.py
  victor/agent/task_analyzer.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: fix additional type errors from Round 5 Batch 1
  victor/protocols/mode_aware.py
  victor/protocols/tool_selector.py
  victor/providers/anthropic_provider.py
  victor/providers/azure_openai_provider.py
  victor/providers/deepseek_provider.py
  victor/providers/fireworks_provider.py
  victor/providers/google_provider.py
  victor/providers/groq_provider.py
  victor/providers/ollama_provider.py
  victor/providers/xai_provider.py
  victor/providers/zai_provider.py
  victor/research/handlers.py
  victor/security_analysis/tools/scanner_impl.py
  victor/storage/cache/tiered_cache.py
  victor/storage/vector_stores/chromadb_provider.py
  victor/storage/vector_stores/lancedb_provider.py
  victor/storage/vector_stores/models.py
  victor/storage/vector_stores/proximadb_provider.py
  victor/storage/vector_stores/registry.py
  victor/teams/advanced_formations.py
  victor/teams/ml/formation_predictor.py
  victor/teams/ml/team_member_selector.py
  victor/teams/team_optimizer.py
  victor/telemetry/opentelemetry.py
  victor/ui/commands/scaffold.py
  victor/ui/commands/serve.py
  victor/ui/commands/utils.py
  victor/ui/commands/validate.py
  victor/ui/commands/workflow.py
  victor/workflows/team_tracing.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: fix type errors from Round 5 Batch 5
  victor/providers/zai_provider.py
  victor/security_analysis/tools/scanner_impl.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: fix type errors in integration tests from Round 6
  tests/integration/real_execution/test_multi_provider_execution.py
Due: check-file-size
