Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

validate-workflows:
  name: Validate YAML Workflows
  entry: scripts/hooks/validate_workflows.sh
  language: script
  pass_filenames: true
  description: 'Validate YAML workflow files before commit. Checks YAML syntax, workflow compilation, and common errors. Run with VICTOR_VERBOSE_VALIDATION=1 for detailed output.
  
    '

check-imports:
  name: Check Python imports
  entry: python scripts/check_imports.py
  language: python
  pass_filenames: false

validate-modes:
  name: Validate mode configurations
  entry: python -m victor.core.mode_config
  language: python
  pass_filenames: false

validate-capabilities:
  name: Validate capability configurations
  entry: python -m victor.core.capabilities
  language: python
  pass_filenames: false

validate-teams:
  name: Validate team configurations
  entry: python -m victor.core.teams
  language: python
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME comments
  entry: scripts/hooks/check_todos.sh
  language: script
  description: 'Check for TODO/FIXME/HACK comments in code. Use this to track technical debt.
  
    '

check-docstrings:
  name: Validate docstrings
  entry: scripts/hooks/check_docstrings.py
  language: python
  description: 'Check that public functions and classes have docstrings. Google-style docstrings preferred.
  
    '

check-file-size:
  name: Check file size
  entry: scripts/hooks/check_file_size.sh
  language: script
  description: 'Check that Python files are not too large (>500 lines). Large files should be refactored into smaller modules.
  
    '

check-complexity:
  name: Check code complexity
  entry: scripts/hooks/check_complexity.py
  language: python
  description: 'Check cyclomatic complexity of functions. Functions with complexity > 10 should be refactored.
  
    '

pytest-changed-files:
  name: Run pytest on changed Python files
  entry: pytest -x -v --tb=short -m "not slow and not integration"
  language: python
  pass_filenames: false
  description: 'Run pytest on changed Python files. Only runs unit tests, excludes slow and integration tests. This provides fast feedback on code changes.
  
  ...

fix: resolve MyPy errors batch 4 (119 errors from 24 files)
  tests/integration/real_execution/conftest_all_providers.py
  tests/integration/real_execution/provider_validator.py
  tests/integration/real_execution/test_all_providers.py
  victor/agent/coordinators/chat_coordinator.py
  victor/coding/assistant.py
  victor/coding/codebase/indexer.py
  victor/core/agent_commands.py
  victor/framework/__init__.py
  victor/teams/types.py
  victor/workflows/cache.py
  victor/workflows/deployment.py
  victor/workflows/discovery.py
  victor/workflows/executor.py
  victor/workflows/executors/agent.py
  victor/workflows/executors/compute.py
  victor/workflows/executors/state_graph_executor.py
  victor/workflows/hitl_api.py
  victor/workflows/hitl_transports.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve remaining MyPy errors in agent/coordinators module
  victor/agent/coordinators/chat_coordinator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors batch 5 (errors 1-100 from 24 files)
  victor/workflows/hitl_transports.py
  victor/workflows/isolation.py
  victor/workflows/linter.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors in tests/workflows module
  tests/integration/workflows/test_execution_replay.py
  tests/integration/workflows/test_ml_formation.py
  tests/integration/workflows/test_orchestrator_pool.py
  tests/integration/workflows/test_recursion_integration.py
  tests/integration/workflows/test_streaming_e2e.py
  tests/integration/workflows/test_vertical_streaming_workflows.py
  tests/integration/workflows/test_workflow_execution.py
  tests/integration/workflows/test_workflow_executor.py
  tests/integration/workflows/test_workflow_state.py
  tests/unit/workflows/test_workflows_base.py
Due: check-file-size, pytest-changed-files

fix: resolve MyPy errors batch 2 (92 errors from 24 files)
  victor/coding/codebase/indexer.py
  victor/coding/service_provider.py
  victor/core/verticals/base_service_provider.py
  victor/core/verticals/extension_loader.py
  victor/core/verticals/plugin_discovery.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: update MyPy progress report - 57% reduction achieved
  docs/MYPY_PROGRESS_REPORT.md
Due: none

test: update unit tests for type checking compatibility
  tests/unit/agent/test_mcp_server.py
  tests/unit/agent/test_orchestrator_repeat_failures.py
  tests/unit/agent/test_orchestrator_stream_tool_calls.py
  tests/unit/agent/test_plugin_manager.py
  tests/unit/agent/test_tool_pipeline_security.py
  tests/unit/agent/test_tool_selection_coordinator.py
  tests/unit/agent/test_tool_selector_health.py
  tests/unit/config/test_cost_warnings.py
  tests/unit/core/test_rl_config_protocol.py
  tests/unit/core/test_tool_base.py
  tests/unit/embeddings/test_semantic_embedding.py
  tests/unit/framework/test_ocp_compliance.py
  tests/unit/tools/test_keyword_tool_selector.py
  tests/unit/tools/test_tool_executor_unit.py
  tests/unit/tools/test_tool_metadata_system.py
  tests/unit/tools/test_tool_selection_stage_readonly.py
  tests/unit/tools/test_tools_comprehensive.py
Due: check-file-size, pytest-changed-files

test: update integration tests for type checking compatibility
  tests/integration/agent/test_p4_integration.py
  tests/integration/agent/test_tool_pipeline_cache_integration.py
  tests/integration/integrations/mcp/test_mcp_server_client_e2e.py
  tests/integration/real_execution/README_ALL_PROVIDERS.md
  tests/integration/real_execution/test_all_providers.py
  tests/integration/test_mcp_server_client_e2e.py
  tests/integration/tools/test_tool_execution_safety.py
Due: check-file-size

test: update benchmark and smoke tests for type checking
  tests/benchmark/test_performance_baselines.py
  tests/benchmark/test_performance_optimizations.py
  tests/benchmark/test_tool_selection_performance.py
  tests/factories.py
  tests/smoke/test_production_smoke.py
Due: check-file-size

fix: apply agent coordinator and type checking improvements
  victor/agent/coordinators/protocol_adapter.py
  victor/agent/decorators.py
  victor/agent/orchestrator.py
  victor/agent/task_coordinator.py
  victor/agent/tool_registrar.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: remove MyPy progress report
  docs/MYPY_PROGRESS_REPORT.md
Due: none

fix: resolve SyntaxError in workflow test files
  tests/integration/workflows/test_orchestrator_pool.py
  tests/integration/workflows/test_team_recursion_tracking.py
Due: check-file-size

chore: add hypothesis to dev dependencies
  pyproject.toml
Due: none

fix: resolve MyPy errors batch 1 (114 errors from 24 files)
  tests/integration/real_execution/conftest_all_providers.py
  tests/integration/real_execution/test_all_providers.py
  victor/agent/orchestrator.py
  victor/agent/parallel_executor.py
  victor/agent/planning/autonomous.py
  victor/agent/plugin_loader.py
  victor/agent/prompt_builder.py
  victor/agent/provider/health_monitor.py
  victor/agent/provider_tool_guidance.py
  victor/agent/recovery/coordinator.py
  victor/agent/shared_tool_registry.py
  victor/agent/time_aware_executor.py
  victor/agent/tool_deduplication.py
  victor/agent/unified_task_tracker.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: correct RL coordinator epsilon-greedy exploration and handler registration tests
  tests/integration/dataanalysis/test_analysis_workflow.py
  victor/framework/rl/rl_coordinator_enhanced.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: correct integration tests to use real components not mocks
  tests/integration/providers/test_provider_model_switching.py
Due: check-file-size

fix: resolve MyPy errors batch B2 part 2 (cache and chunking fixes)
  victor/coding/testgen/analyzer.py
  victor/core/cache/cache_warming.py
  victor/core/cache/invalidation.py
  victor/core/cache/multi_level_cache.py
  victor/core/cache/response_cache.py
  victor/core/cache/semantic_cache.py
  victor/core/chunking/registry.py
  victor/framework/capabilities/base_vertical_capability_provider.py
  victor/framework/conversations/node.py
  victor/integrations/protocol/adapters.py
  victor/integrations/protocol/messages.py
  victor/multimodal/audio_processor.py
  victor/multimodal/image_processor.py
  victor/workflows/advanced_formations.py
  victor/workflows/advanced_formations_schema.py
  victor/workflows/cache.py
  victor/workflows/deployment.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors batch B2 part 3 (chunking strategies and core fixes)
  victor/core/chunking/strategies/code.py
  victor/core/chunking/strategies/html.py
  victor/core/chunking/strategies/json.py
  victor/core/cqrs.py
  victor/core/health.py
  victor/core/middleware.py
  victor/optimization/evaluator.py
  victor/optimization/generator.py
  victor/workflows/execution_engine.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors batch B2 part 4 (monitoring and query enhancement)
  victor/core/monitoring/performance_monitor.py
  victor/core/query_enhancement/pipeline.py
  victor/core/query_enhancement/registry.py
  victor/workflows/execution_engine.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors in execution_engine.py
  victor/workflows/execution_engine.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors batch B1 (203 errors from 53 files)
  tests/integration/providers/test_provider_model_switching.py
  tests/integration/real_execution/test_all_providers.py
  tests/integration/real_execution/test_ollama_fixture_test.py
  victor/agent/conversation_export.py
  victor/agent/creation_strategies.py
  victor/agent/decorators.py
  victor/agent/entity_extraction_service.py
  victor/framework/conversations/node.py
  victor/framework/coordinators/graph_coordinator.py
  victor/framework/di/container.py
  victor/framework/di/migration_example.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors batch B3 (260 errors from 53 files)
  victor/framework/coordinators/hitl_coordinator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors batch 1 (50 errors from 14 files)
  victor/agent/adapters/coordinator_adapter.py
  victor/agent/cache/backends/factory.py
  victor/agent/cache/backends/redis.py
  victor/agent/cache/distributed_invalidation.py
  victor/agent/cache_prewarming.py
  victor/agent/capabilities/registry.py
  victor/agent/capability_registry.py
  victor/agent/checkpoints.py
  victor/agent/creation_strategies.py
  victor/agent/decorators.py
  victor/agent/enhanced_checkpoints.py
  victor/agent/entity_extraction_service.py
  victor/agent/multimodal/audio_agent.py
  victor/agent/multimodal/vision_agent.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: use real providers in provider switching integration tests
  tests/integration/providers/test_provider_model_switching.py
Due: check-file-size

fix: resolve MyPy batch 3 (50 errors from 12 files)
  victor/coding/completion/providers/ai.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors batch 2 (50 errors from 20 files)
  victor/agent/prompt_corpus_data.py
  victor/agent/response_sanitizer.py
  victor/agent/unified_task_tracker.py
  victor/agent/utils/tool_detection.py
  victor/benchmark/agent.py
  victor/benchmark/assistant.py
  victor/benchmark/capabilities.py
  victor/feps/manager.py
  victor/optimization/evaluator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy batch 2 (100 errors from 24 files)
  victor/rag/chunker.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy batch 2 remaining fixes (7 files)
  victor/benchmark/agent.py
  victor/benchmark/assistant.py
  victor/integrations/api/fastapi_server.py
  victor/rag/demo_docs.py
  victor/rag/demo_sec_filings.py
  victor/research/handlers.py
  victor/tests/workflows/test_isolation.py
  victor/workflows/executors/compute.py
  victor/workflows/node_runners.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy batch 8 (100 errors from 22 files)
  victor/benchmark/capabilities.py
  victor/benchmark/escape_hatches.py
  victor/benchmark/handlers.py
  victor/coding/assistant.py
  victor/coding/completion/manager.py
  victor/coding/completion/provider.py
  victor/coding/completion/providers/ai.py
  victor/integrations/api/fastapi_server.py
  victor/integrations/api/server.py
  victor/integrations/api/unified_server.py
  victor/integrations/mcp/client.py
  victor/integrations/protocol/adapters.py
  victor/integrations/protocol/messages.py
  victor/rag/demo_sec_filings.py
  victor/rag/document_store.py
  victor/rag/enrichment.py
  victor/rag/escape_hatches.py
  victor/rag/handlers.py
  victor/research/handlers.py
  victor/security/penetration_testing_example.py
  victor/tests/workflows/test_isolation.py
  victor/tests/workflows/test_yaml_schema.py
  victor/workflows/executors/compute.py
  victor/workflows/executors/condition.py
  victor/workflows/executors/factory.py
  victor/workflows/executors/parallel.py
  victor/workflows/executors/state_graph_executor.py
  victor/workflows/executors/transform.py
  victor/workflows/node_runners.py
  victor/workflows/observability.py
  victor/workflows/presets/workflow_templates.py
  victor/workflows/recording_integration.py
  victor/workflows/recording_storage.py
  victor/workflows/unified_compiler.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy batch 7 (100 errors from 11 files)
  victor/coding/completion/providers/ai.py
  victor/config/telemetry_config.py
  victor/core/async_utils.py
  victor/core/cache/invalidation.py
  victor/core/cache/multi_level_cache.py
  victor/multimodal/image_processor.py
  victor/optimization/generator.py
  victor/optimization/optimizer.py
  victor/optimization/profiler.py
  victor/optimization/search.py
  victor/rag/mode_config.py
  victor/research/assistant.py
  victor/teams/ml/team_member_selector.py
  victor/workflows/recursion.py
  victor/workflows/sandbox_executor.py
  victor/workflows/scheduler.py
  victor/workflows/state_manager.py
  victor/workflows/unified_compiler.py
  victor/workflows/unified_executor.py
  victor/workflows/validator.py
  victor/workflows/visualization.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy batch 9 (100 errors from 20 files)
  victor/workflows/streaming.py
  victor/workflows/team_collaboration.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy batch 4 (100 errors from 20 files)
  victor/iac/scanners.py
  victor/integrations/mcp/client.py
  victor/optimization/strategies.py
  victor/optimizations/algorithms.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy batch 10 (88 errors from 10 files)
  victor/core/chunking/registry.py
  victor/core/health.py
  victor/core/monitoring/performance_monitor.py
  victor/core/optimizations/hot_path_optimizations.py
  victor/core/query_enhancement/registry.py
  victor/core/query_enhancement/strategies/base.py
  victor/core/query_enhancement/strategies/entity_expand.py
  victor/core/registry_base.py
  victor/core/task_manager.py
  victor/deps/parsers.py
  victor/optimizations/database.py
  victor/optimizations/lazy_loader.py
  victor/optimizations/memory.py
  victor/rag/query_enhancer.py
  victor/storage/unified/sqlite_lancedb.py
  victor/workflows/team_node_runner.py
  victor/workflows/visualization.py
  victor/workflows/yaml_loader.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy batch 6 (100 errors from 13 files)
  victor/rag/tools/ingest.py
  victor/rag/tools/management.py
  victor/rag/tools/query.py
  victor/rag/tools/search.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy batch 5 (100 errors from 19 files)
  victor/optimizations/lazy_loader.py
  victor/optimizations/memory.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve remaining import and syntax errors for test collection
  victor/core/query_enhancement/registry.py
  victor/core/task_manager.py
  victor/core/verticals/base_service_provider.py
  victor/core/verticals/capability_migration.py
  victor/core/verticals/config/vertical_config_loader.py
  victor/core/verticals/config_loader.py
  victor/core/verticals/extension_loader.py
  victor/devops/capabilities.py
  victor/framework/workflow_engine.py
  victor/storage/unified/sqlite_lancedb.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy batch 1 (100 errors from 47 files)
  victor/config/personas/agent_personas.yaml
  victor/core/verticals/extensions/config_extensions.py
  victor/core/verticals/mutable_context.py
  victor/core/verticals/plugin_discovery.py
  victor/data/session_repository.py
  victor/dataanalysis/assistant.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
  pytest-changed-files: any of: ^victor/.*\.py$|^tests/unit/.*\.py$
