Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

validate-workflows:
  name: Validate YAML Workflows
  entry: scripts/hooks/validate_workflows.sh
  language: script
  pass_filenames: true
  description: 'Validate YAML workflow files before commit. Checks YAML syntax, workflow compilation, and common errors. Run with VICTOR_VERBOSE_VALIDATION=1 for detailed output.
  
    '

check-imports:
  name: Check Python imports
  entry: python scripts/check_imports.py
  language: python
  pass_filenames: false

validate-modes:
  name: Validate mode configurations
  entry: python -m victor.core.mode_config
  language: python
  pass_filenames: false

validate-capabilities:
  name: Validate capability configurations
  entry: python -m victor.core.capabilities
  language: python
  pass_filenames: false

validate-teams:
  name: Validate team configurations
  entry: python -m victor.core.teams
  language: python
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME comments
  entry: scripts/hooks/check_todos.sh
  language: script
  description: 'Check for TODO/FIXME/HACK comments in code. Use this to track technical debt.
  
    '

check-docstrings:
  name: Validate docstrings
  entry: scripts/hooks/check_docstrings.py
  language: python
  description: 'Check that public functions and classes have docstrings. Google-style docstrings preferred.
  
    '

check-file-size:
  name: Check file size
  entry: scripts/hooks/check_file_size.sh
  language: script
  description: 'Check that Python files are not too large (>500 lines). Large files should be refactored into smaller modules.
  
    '

check-complexity:
  name: Check code complexity
  entry: scripts/hooks/check_complexity.py
  language: python
  description: 'Check cyclomatic complexity of functions. Functions with complexity > 10 should be refactored.
  
    '

pytest-changed-files:
  name: Run pytest on changed Python files
  entry: pytest -x -v --tb=short -m "not slow and not integration"
  language: python
  pass_filenames: false
  description: 'Run pytest on changed Python files. Only runs unit tests, excludes slow and integration tests. This provides fast feedback on code changes.
  
  ...

fix: downgrade scipy to 1.15.2 for Python 3.10 compatibility
  requirements.txt
Due: none

fix: upgrade exceptiongroup to 1.3.1 for Python 3.10 compatibility
  requirements.txt
Due: none

fix: resolve celery/semgrep exceptiongroup conflict
  requirements.txt
Due: none

fix: downgrade kombu to 5.5.2 for celery 5.5.0 compatibility
  requirements.txt
Due: none

fix: downgrade tzdata to 2025.2 for kombu 5.5.2 compatibility
  requirements.txt
Due: none

fix: increase pytest timeout to accommodate asyncio cleanup
  .github/workflows/test-regression.yml
  .github/workflows/test-suite.yml
Due: none

fix: correct attribute name rust_available -> is_rust_available
  victor/tools/language_analyzer.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: use canonical tool names in cacheability tests
  tests/unit/tools/test_tool_executor_unit.py
Due: check-file-size, pytest-changed-files

feat: update CI to skip slow tests
  .pre-commit-config.yaml
  tests/slow_tests.txt
Due: none

chore: bump version to 0.5.1 for next release
  pyproject.toml
  victor/__init__.py
  victor/framework/__init__.py
  victor/integrations/api/fastapi_server.py
  victor/observability/__init__.py
  victor/observability/telemetry/opentelemetry.py
  victor/storage/__init__.py
  victor/storage/state/__init__.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: update vulnerable dependencies to address Trivy scan findings
  pyproject.toml
  requirements.txt
Due: none

Revert "fix: update vulnerable dependencies to address Trivy scan findings"
  pyproject.toml
  requirements.txt
Due: none

chore: update aiohttp from 3.13.2 to 3.13.3
  requirements.txt
Due: none

chore: bump version to 0.5.2 for security fix release
  pyproject.toml
Due: none

fix: update Trivy to use latest vulnerability database
  .github/workflows/release.yml
Due: none

docs: reframe Victor as agentic AI framework with correct capability counts
  ARCHITECTURE.md
  FAQ.md
  README.md
  docker/demos/provider-features.py
  docs/api-reference/providers.md
  docs/architecture/overview.md
  docs/assets/QUICK_START.md
  docs/development/architecture/appendix.md
  docs/development/architecture/component-details.md
  docs/development/architecture/deep-dive.md
  docs/development/architecture/overview.md
  docs/development/index.md
  docs/diagrams/architecture/system-overview.mmd
  docs/diagrams/architecture/system-overview.svg
  docs/getting-started/configuration.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/VICTOR_AS_MCP_SERVER.md
  docs/guides/tool-reference.md
  docs/index.md
  docs/reference/api/http-api.md
  docs/reference/api/mcp-server.md
  docs/reference/index.md
  docs/reference/providers-comparison.md
  docs/reference/quick-reference.md
  docs/user-guide/index.md
  docs/user-guide/providers.md
  docs/user-guide/tools.md
  docs/user-guide/troubleshooting.md
  examples/victor_mcp_toolkit_demo.py
  rust/README.md
  victor/agent/coordinators/__init__.py
  victor/ui/cli.py
  victor/ui/commands/chat.py
  vscode-victor/README.md
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

chore: single-source versioning and bump to 0.5.3
  CHANGELOG.md
  docs/index.md
  pyproject.toml
  victor/__init__.py
  victor/framework/__init__.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: use canonical table names in extract_graph_insights
  tests/unit/indexers/test_codebase_analyzer.py
  victor/context/codebase_analyzer.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: align switch_provider param name to fix /profile command
  tests/unit/commands/test_switch_provider.py
  victor/agent/orchestrator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

style: black format test_codebase_analyzer.py
  tests/unit/indexers/test_codebase_analyzer.py
Due: check-file-size, pytest-changed-files

style: black format test_switch_provider.py
  tests/unit/commands/test_switch_provider.py
Due: check-file-size, pytest-changed-files

fix: add emit_metric to ObservabilityBus
  tests/unit/core/events/test_event_backends.py
  victor/core/events/backends.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

chore: bump version to 0.5.4 for bug fix release
  CHANGELOG.md
  docs/index.md
  pyproject.toml
Due: none

fix: use plugin-first queries and correct tree-sitter API for graph edge extraction
  tests/unit/indexers/test_indexer_edge_extraction.py
  victor/coding/codebase/indexer.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: parallel indexing path now extracts all edge types for non-Python languages
  tests/unit/indexers/test_indexer_edge_extraction.py
  victor/coding/codebase/indexer.py
  victor/coding/languages/plugins/javascript.py
  victor/coding/languages/plugins/typescript.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: parallel path now extracts Rust symbols via plugin queries
  tests/unit/indexers/test_indexer_edge_extraction.py
  victor/coding/codebase/indexer.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: multi-language doc coverage + Cerebras SSL retry
  tests/unit/tools/test_documentation_tool_unit.py
  victor/coding/languages/base.py
  victor/coding/languages/plugins/cpp.py
  victor/coding/languages/plugins/go.py
  victor/coding/languages/plugins/java.py
  victor/coding/languages/plugins/javascript.py
  victor/coding/languages/plugins/python.py
  victor/coding/languages/plugins/rust.py
  victor/coding/languages/plugins/typescript.py
  victor/providers/cerebras_provider.py
  victor/tools/documentation_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

style: format indexer files to pass CI black check
  tests/unit/indexers/test_indexer_edge_extraction.py
  victor/coding/codebase/indexer.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: use pytest.mark.asyncio instead of run_until_complete in tests
  tests/unit/tools/test_documentation_tool_unit.py
Due: check-file-size, pytest-changed-files

feat: update all public provider model catalogs for Feb 2026
  examples/profiles.yaml.example
  tests/unit/providers/test_mistral_provider.py
  tests/unit/providers/test_openrouter_provider.py
  tests/unit/providers/test_together_provider.py
  tests/unit/tools/test_tool_calling_registry.py
  victor/providers/cerebras_provider.py
  victor/providers/deepseek_provider.py
  victor/providers/fireworks_provider.py
  victor/providers/groq_provider.py
  victor/providers/mistral_provider.py
  victor/providers/openrouter_provider.py
  victor/providers/together_provider.py
  victor/providers/xai_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: strip hallucinated tool args in lenient mode instead of crashing
  victor/agent/tool_executor.py
  victor/tools/graph_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

style: format tool_executor.py to pass CI black check
  victor/agent/tool_executor.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: update test tool schema to declare echo parameter
  tests/unit/agent/test_orchestrator_stream_tool_calls.py
Due: check-file-size, pytest-changed-files

fix: /index command now uses CodebaseIndex instead of missing manager
  victor/ui/slash/commands/codebase.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: await async switch_provider/switch_model in slash commands
  victor/ui/slash/commands/model.py
  victor/ui/slash/commands/switch.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: update switch provider tests for async command methods
  tests/unit/commands/test_switch_provider.py
Due: check-file-size, pytest-changed-files

fix: use pytest.mark.asyncio for all async switch provider tests
  tests/unit/commands/test_switch_provider.py
Due: check-file-size, pytest-changed-files

refactor: wire existing coordinators into orchestrator, reducing 7032 to 4913 LOC
  tests/unit/agent/test_orchestrator_core.py
  victor/agent/coordinators/__init__.py
  victor/agent/coordinators/chat_coordinator.py
  victor/agent/coordinators/tool_coordinator.py
  victor/agent/orchestrator.py
  victor/agent/streaming/continuation.py
  victor/agent/streaming/tool_execution.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: Phase 1 foundation hardening — 4 targeted architecture improvements
  tests/unit/core/test_vertical_base.py
  tests/unit/core/verticals/test_extension_cache.py
  tests/unit/framework/test_agent.py
  tests/unit/framework/test_framework_internal.py
  tests/unit/framework/test_framework_shim.py
  tests/unit/framework/test_vertical_integration.py
  tests/unit/framework/test_vertical_service.py
  tests/unit/observability/test_event_registry.py
  victor/agent/capability_registry.py
  victor/agent/coordinators/tool_coordinator.py
  victor/agent/orchestrator.py
  victor/agent/vertical_integration_adapter.py
  victor/coding/middleware.py
  victor/coding/safety.py
  victor/config/settings.py
  victor/core/events/__init__.py
  victor/core/events/backends.py
  victor/core/events/emit_helper.py
  victor/core/verticals/base.py
  victor/core/verticals/extension_loader.py
  victor/core/verticals/vertical_loader.py
  victor/framework/__init__.py
  victor/framework/_internal.py
  victor/framework/agent.py
  victor/framework/capability_registry.py
  victor/framework/safety.py
  victor/framework/shim.py
  victor/framework/step_handlers.py
  victor/framework/vertical_cache_policy.py
  victor/framework/vertical_integration.py
  victor/framework/vertical_service.py
  victor/observability/event_registry.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
  pytest-changed-files: any of: ^victor/.*\.py$|^tests/unit/.*\.py$
