Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
  pytest-changed-files: any of: ^victor/.*\.py$|^tests/unit/.*\.py$

fix: resolve all python linting errors
  victor/agent/improvement/rl_coordinator.py
  victor/coding/codebase/embeddings/models.py
  victor/framework/__init__.py
  victor/framework/service_provider.py
  victor/processing/completion/providers/ai.py
  victor/security_analysis/handlers.py
  victor/security_analysis/prompts.py
  victor/security_analysis/safety.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve workflow security scan violations
  .semgrepignore
Due: none

style: reformat files after black fixes
  victor/security/__init__.py
  victor/security_analysis/tools/__init__.py
  victor/security_analysis/tools/scanner_impl.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: add more modules to mypy ignore list (watchdog, pydantic-settings issues)
  pyproject.toml
Due: none

fix: correct mypy paths in CI workflow (health.py, metrics.py are files)
  .github/workflows/ci.yml
  gitleaks-results.sarif/work/victor/victor/results.sarif
  victor/core/security/authorization.py
  victor/core/security/authorization_impl.py
  victor/security/authorization_enhanced.py
  vscode-extension/victor-ai-0.5.0.vsix
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: add security modules to mypy ignore list
  pyproject.toml
  victor/core/security/audit/checker.py
  victor/core/security/audit/checker_impl.py
  victor/core/security/audit/logger.py
  victor/core/security/audit/logger_impl.py
  victor/core/security/audit/manager.py
  victor/core/security/audit/manager_impl.py
  victor/core/security/audit/protocol.py
  victor/core/security/audit/protocol_impl.py
  victor/core/security/auth/rbac.py
  victor/core/security/auth/rbac_impl.py
  victor/core/security/patterns/code_patterns.py
  victor/core/security/patterns/code_patterns_impl.py
  victor/core/security/patterns/content_patterns.py
  victor/core/security/patterns/content_patterns_impl.py
  victor/core/security/patterns/infrastructure.py
  victor/core/security/patterns/infrastructure_impl.py
  victor/core/security/patterns/pii.py
  victor/core/security/patterns/pii_impl.py
  victor/core/security/patterns/registry.py
  victor/core/security/patterns/registry_impl.py
  victor/core/security/patterns/secrets.py
  victor/core/security/patterns/secrets_impl.py
  victor/core/security/patterns/source_credibility.py
  victor/core/security/patterns/source_credibility_impl.py
  victor/core/security/patterns/types.py
  victor/core/security/patterns/types_impl.py
  victor/core/security/protocol.py
  victor/security/authorization_enhanced.py
  victor/security/manager.py
  victor/security/penetration_testing.py
  victor/security/protocol.py
  victor/security_analysis/tools/__init__.py
  victor/security_analysis/tools/cve_database_impl.py
  victor/security_analysis/tools/manager.py
  victor/security_analysis/tools/penetration_testing.py
  victor/security_analysis/tools/scanner_impl.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: update test imports after security patterns migration
  tests/security/test_security_audit.py
  tests/unit/agent/test_vertical_integration_adapter_di.py
  tests/unit/core/verticals/test_extensions_split.py
  tests/unit/dataanalysis/test_safety.py
  tests/unit/framework/test_vertical_integration.py
  tests/unit/protocols/test_vertical_protocols.py
  tests/unit/security/safety/test_code_patterns.py
  tests/unit/security/safety/test_infrastructure.py
  tests/unit/security/safety/test_safety_registry.py
Due: check-file-size, pytest-changed-files

fix: export mask_secrets and fix penetration_testing_example imports
  victor/core/security/patterns/__init__.py
  victor/security/penetration_testing_example.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: reduce mypy ignore list by fixing type errors
  pyproject.toml
  victor/agent/conversation_memory.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: add Pydantic BaseModel modules back to mypy ignore list
  pyproject.toml
Due: none

fix: add remaining modules with type errors to mypy ignore list
  pyproject.toml
  victor/core/optimizations/hot_path_optimizations.py
  victor/optimizations/algorithms.py
  victor/optimizations/concurrency.py
  victor/optimizations/database.py
  victor/optimizations/lazy_loader.py
  victor/optimizations/memory.py
  victor/optimizations/network.py
  victor/optimizations/parallel_executor.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: enable Pydantic MyPy plugin and fix type errors
  docs/migration/SECURITY_OPTIMIZATION_MIGRATION.md
  pyproject.toml
  tests/unit/optimization/test_search.py
  victor/core/optimizations/__init__.py
  victor/core/validation.py
  victor/optimizations/__init__.py
  victor/security/AUTHORIZATION_ENHANCED_README.md
  victor/security/__init__.py
  victor/security/audit/__init__.py
  victor/security/audit/checker.py
  victor/security/audit/logger.py
  victor/security/audit/manager.py
  victor/security/audit/protocol.py
  victor/security/auth/__init__.py
  victor/security/auth/rbac.py
  victor/security/authorization_enhanced.py
  victor/security/manager.py
  victor/security/penetration_testing.py
  victor/security/penetration_testing_example.py
  victor/security/protocol.py
  victor/security/safety/__init__.py
  victor/security/safety/code_patterns.py
  victor/security/safety/content_patterns.py
  victor/security/safety/infrastructure.py
  victor/security/safety/pii.py
  victor/security/safety/registry.py
  victor/security/safety/secrets.py
  victor/security/safety/source_credibility.py
  victor/security/safety/types.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: add type ignore comments and remove more modules from mypy ignore list
  pyproject.toml
  tests/unit/security/test_security_protocol.py
  victor/framework/service_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: install pydantic in CI lint step for MyPy plugin
  .github/workflows/ci.yml
Due: none

fix: correct type handling in workflow API serialization
  tools/workflow_editor/backend/api.py
  victor/integrations/api/workflow_event_bridge.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: fix YAML export test mock with proper data structure
  tests/unit/api/test_workflow_editor_api.py
Due: check-file-size, pytest-changed-files

fix: resolve MyPy errors in Round 2 Batch 4
  victor/observability/middleware.py
  victor/providers/openai_provider.py
  victor/providers/vertex_provider.py
  victor/tools/filesystem.py
  victor/tools/graph_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors in Round 2 Batch 5
  victor/coding/codebase/embeddings/lancedb_provider.py
  victor/providers/groq_provider.py
  victor/tools/browser_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors in baseline_validator.py and panel.py
  tests/unit/providers/test_lancedb_provider.py
  victor/agent/conversation_embedding_store.py
  victor/coding/codebase/embeddings/lancedb_provider.py
  victor/evaluation/baseline_validator.py
  victor/observability/dashboard/app.py
  victor/observability/emitters/model_emitter.py
  victor/observability/emitters/tool_emitter.py
  victor/providers/config_factory_registry.py
  victor/providers/mistral_provider.py
  victor/providers/zai_provider.py
  victor/rag/ui/panel.py
  victor/storage/vector_stores/lancedb_provider.py
  victor/teams/team_learning.py
  victor/tools/browser_tool.py
  victor/tools/documentation_tool.py
  victor/tools/filesystem.py
  victor/ui/slash/commands/debug.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: MyPy errors in Round 2 Batch 9 files
  tests/unit/protocols/test_type_checking.py
  victor/observability/metrics_config.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve additional MyPy errors in multiple files
  tests/unit/protocols/test_type_checking.py
  victor/evaluation/result_correlation.py
  victor/framework/lazy_initializer.py
  victor/observability/dashboard/app.py
  victor/observability/metrics_config.py
  victor/providers/huggingface_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors in Round 2 Batch 8 (97 errors in 30 files)
  pytest.ini
  tests/singleton_reset_fast.py
  tests/unit/providers/test_lancedb_provider.py
  tests/unit/rag/test_document_ingestion.py
  tests/unit/rag/test_rag_capabilities.py
  victor/agent/coordinators/middleware_coordinator.py
  victor/agent/decorators.py
  victor/agent/tool_result_cache.py
  victor/config/personas/agent_personas.yaml
  victor/core/language_capabilities/extractors/cpp_extractor.py
  victor/core/security/patterns/content_patterns.py
  victor/evaluation/agentic_harness.py
  victor/experiments/ab_testing/statistics.py
  victor/framework/lazy_initializer.py
  victor/observability/pipeline/analyzers.py
  victor/providers/together_provider.py
  victor/rag/advanced_rag.py
  victor/tools/shared_ast_utils.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors in UI commands, composition runnables, dashboard app, and together provider
  tests/unit/rag/test_document_ingestion.py
  victor/agent/tool_result_cache.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve more MyPy errors in Round 2 Batch 3
  victor/core/verticals/package_schema.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve more MyPy errors in Round 2 Batch 3
  tests/unit/devops/test_capabilities.py
  victor/agent/coordinators/prompt_coordinator.py
  victor/agent/coordinators/team_coordinator.py
  victor/agent/recovery/fallback.py
  victor/agent/thinking_detector.py
  victor/config/personas/agent_personas.yaml
  victor/core/events/kafka_backend.py
  victor/core/mode_config.py
  victor/core/verticals/package_schema.py
  victor/core/workflow_validation/workflow_schemas.py
  victor/deps/parsers.py
  victor/integrations/mcp/server.py
  victor/providers/bedrock_provider.py
  victor/rag/document_store.py
  victor/workflows/generation/refiner.py
  victor/workflows/hitl_transports.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve MyPy errors in Round 2 Batch 10
  tests/unit/rag/test_document_ingestion.py
  tests/unit/rag/test_rag_capabilities.py
  victor/integrations/mcp/server.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: correct undefined variable reference in shared_ast_utils
  victor/tools/shared_ast_utils.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: fix RL module test failures
  tests/unit/rl/test_cross_vertical_learner.py
  tests/unit/rl/test_grounding_threshold_learner.py
  tests/unit/rl/test_prompt_template_learner.py
  tests/unit/rl/test_rl_eviction_policy.py
Due: check-file-size, pytest-changed-files

test: disable sandbox mode for tools unit tests
  tests/unit/tools/conftest.py
  tests/unit/tools/test_file_editor_tool_unit.py
  tests/unit/tools/test_filesystem_tool.py
Due: check-file-size, pytest-changed-files

test: add skip-on-timeout protection to long-running performance tests
  tests/integration/test_performance_scenarios.py
Due: check-file-size

test: fix memory optimizer and capability integration tests
  tests/integration/framework/test_vertical_capability_integration.py
  tests/unit/optimization/runtime/test_memory_optimizer.py
Due: check-file-size, pytest-changed-files

fix: improve tools reliability and error handling
  victor/tools/code_executor_tool.py
  victor/tools/code_intelligence_tool.py
  victor/tools/filesystem.py
  victor/tools/validators/common.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: update tools tests for improved reliability
  tests/unit/tools/test_code_executor_tool.py
  tests/unit/tools/test_code_intelligence_tool.py
  tests/unit/tools/test_iac_scanner_tool.py
  tests/unit/tools/test_tool_pipeline.py
  tests/unit/tools/test_tool_registrar.py
Due: check-file-size, pytest-changed-files

test: fix framework and protocol tests
  scripts/check_protocol_conformance.py
  tests/unit/framework/test_framework_protocols.py
  tests/unit/framework/test_layer_independence.py
  tests/unit/framework/test_tool_category_registry.py
  tests/unit/protocols/test_capability_protocol.py
  tests/unit/protocols/test_type_checking.py
Due: check-file-size, pytest-changed-files

test: fix core, devops, security, and workflow tests
  tests/unit/core/test_emoji.py
  tests/unit/devops/test_devops_capabilities.py
  tests/unit/test_security_phase1.py
  tests/unit/workflows/test_workflow_fixes.py
Due: check-file-size, pytest-changed-files

fix: improve agent and framework reliability
  victor/agent/orchestrator.py
  victor/agent/tool_registrar.py
  victor/framework/capabilities/base_vertical_capability_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: improve config and MCP server reliability
  victor/config/settings.py
  victor/integrations/mcp/server.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files
