Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

validate-workflows:
  name: Validate YAML Workflows
  entry: scripts/hooks/validate_workflows.sh
  language: script
  pass_filenames: true
  description: 'Validate YAML workflow files before commit. Checks YAML syntax, workflow compilation, and common errors. Run with VICTOR_VERBOSE_VALIDATION=1 for detailed output.
  
    '

check-imports:
  name: Check Python imports
  entry: python scripts/check_imports.py
  language: python
  pass_filenames: false

validate-modes:
  name: Validate mode configurations
  entry: python -m victor.core.mode_config
  language: python
  pass_filenames: false

validate-capabilities:
  name: Validate capability configurations
  entry: python -m victor.core.capabilities
  language: python
  pass_filenames: false

validate-teams:
  name: Validate team configurations
  entry: python -m victor.core.teams
  language: python
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME comments
  entry: scripts/hooks/check_todos.sh
  language: script
  description: 'Check for TODO/FIXME/HACK comments in code. Use this to track technical debt.
  
    '

check-docstrings:
  name: Validate docstrings
  entry: scripts/hooks/check_docstrings.py
  language: python
  description: 'Check that public functions and classes have docstrings. Google-style docstrings preferred.
  
    '

check-file-size:
  name: Check file size
  entry: scripts/hooks/check_file_size.sh
  language: script
  description: 'Check that Python files are not too large (>500 lines). Large files should be refactored into smaller modules.
  
    '

check-complexity:
  name: Check code complexity
  entry: scripts/hooks/check_complexity.py
  language: python
  description: 'Check cyclomatic complexity of functions. Functions with complexity > 10 should be refactored.
  
    '

pytest-changed-files:
  name: Run pytest on changed Python files
  entry: pytest -x -v --tb=short -m "not slow and not integration"
  language: python
  pass_filenames: false
  description: 'Run pytest on changed Python files. Only runs unit tests, excludes slow and integration tests. This provides fast feedback on code changes.
  
  ...

refactor(agent): fix type errors from Round 6
  victor/agent/capabilities/registry.py
  victor/agent/intelligent_pipeline.py
  victor/agent/memory_manager.py
  victor/agent/orchestrator_factory.py
  victor/agent/planning/task_decomposition.py
  victor/agent/prompt_corpus_data.py
  victor/agent/task_analyzer.py
  victor/agent/task_coordinator.py
  victor/agent/tool_access_controller.py
  victor/agent/unified_task_tracker.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: fix type errors from Round 6 Batch 3
  victor/observability/emitters/tool_emitter.py
  victor/observability/pipeline/manager.py
  victor/ui/slash/commands/tools.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: fix type errors from Round 6 Batch 5
  victor/ui/slash/commands/navigation.py
  victor/ui/slash/commands/tools.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: enhance empty response logging and grounding feedback
  victor/agent/grounding_verifier.py
  victor/providers/ollama_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: implement strategic verification report improvements
  tests/unit/framework/test_vertical_integration.py
  victor/agent/orchestrator.py
  victor/agent/orchestrator_imports.py
  victor/coding/config/vertical.yaml
  victor/core/verticals/base.py
  victor/devops/config/vertical.yaml
  victor/framework/step_handlers.py
  victor/framework/vertical_integration.py
  victor/research/config/vertical.yaml
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: auto-infer vertical name in tool dependency provider
  victor/agent/orchestrator.py
  victor/coding/tool_dependencies.py
  victor/core/tool_dependency_loader.py
  victor/dataanalysis/tool_dependencies.py
  victor/devops/tool_dependencies.py
  victor/framework/step_handlers.py
  victor/rag/tool_dependencies.py
  victor/research/tool_dependencies.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: add comprehensive extension system documentation
  docs/architecture/extension_system.md
Due: none

fix: parse aspects parameter as JSON string when applicable
  victor/tools/code_review_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: make _exec_ctx parameter optional in BaseTool.execute()
  index.html.13
  tests/integration/framework/test_workflow_chat_integration.py
  tests/performance/test_workflow_chat_performance.py
  tests/unit/framework/test_protocols_package.py
  victor/agent/orchestrator.py
  victor/coding/chat_state.py
  victor/config/personas/agent_personas.yaml
  victor/core/bootstrap.py
  victor/core/cache/vertical_integration_cache.py
  victor/framework/__init__.py
  victor/framework/protocols.py
  victor/framework/protocols/README.md
  victor/framework/protocols/__init__.py
  victor/framework/protocols/capability.py
  victor/framework/protocols/chat.py
  victor/framework/protocols/chat_state.py
  victor/framework/protocols/component.py
  victor/framework/protocols/exceptions.py
  victor/framework/protocols/orchestrator.py
  victor/framework/protocols/streaming.py
  victor/framework/protocols/utils.py
  victor/framework/vertical_integration.py
  victor/framework/workflow_orchestrator.py
  victor/tools/audit_tool.py
  victor/tools/base.py
  victor/tools/merge_tool.py
  victor/tools/pipeline_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: implement comprehensive decoupling of chat-based coding solution
  index.html.1
  index.html.10
  index.html.11
  index.html.12
  index.html.13
  index.html.2
  index.html.3
  index.html.4
  index.html.5
  index.html.6
  index.html.7
  index.html.8
  index.html.9
Due: none

fix: improve error event emitter backward compatibility
  victor/observability/emitters/error_emitter.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: ErrorEventEmitter emit() backward compatibility and orchestrator _settings alias
  victor/agent/orchestrator_factory.py
  victor/config/personas/agent_personas.yaml
  victor/config/settings.py
  victor/observability/emitters/error_emitter.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: add sanitizer parameter to ToolCallCoordinator for backward compatibility
  victor/agent/coordinators/tool_call_coordinator.py
  victor/benchmark/assistant.py
  victor/research/assistant.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: use sanitizer for tool name validation in ToolCallCoordinator
  victor/agent/coordinators/tool_call_coordinator.py
  victor/benchmark/capabilities.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: logger initialization and layer independence comment
  victor/benchmark/capabilities.py
  victor/framework/workflow_orchestrator.py
  victor/tools/file_editor_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: stream adapter, documentation tool AST, and remaining test issues
  victor/providers/stream_adapter.py
  victor/tools/documentation_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add DevOps chat workflow to demonstrate vertical extensibility
  CLAUDE.md
  victor/devops/__init__.py
  victor/devops/chat_workflow_provider.py
  victor/devops/escape_hatches.py
  victor/devops/workflows/chat.yaml
Due: validate-workflows, check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: correct handle_empty_response to use threshold boolean
  victor/agent/streaming/handler.py
  victor/research/__init__.py
  victor/research/chat_workflow_provider.py
  victor/research/escape_hatches.py
  victor/research/workflows/chat.yaml
Due: validate-workflows, check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: use protocol type for ToolConfigurator service lookup
  victor/framework/agent_components.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: update builder sequence expectations to include WorkflowChatBuilder
  tests/unit/agent/test_orchestrator_factory.py
Due: check-file-size, pytest-changed-files

docs: add comprehensive decoupled chat architecture summary
  DECOUPLED_CHAT_ARCHITECTURE_SUMMARY.md
Due: none

feat: add Data Analysis chat workflow to demonstrate vertical extensibility
  victor/dataanalysis/__init__.py
  victor/dataanalysis/chat_workflow_provider.py
  victor/dataanalysis/escape_hatches.py
  victor/dataanalysis/workflows/chat.yaml
Due: validate-workflows, check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: correct ToolSelectionResult iteration and grounding test
  tests/unit/agent/test_grounding_verifier.py
  tests/unit/framework/test_vertical_integration.py
  victor/agent/skills/skill_discovery.py
  victor/agent/task_analyzer.py
  victor/config/personas/agent_personas.yaml
  victor/core/language_capabilities/validators/cpp_validator.py
  victor/core/security/patterns/content_patterns.py
  victor/core/verticals/lazy_loader.py
  victor/framework/adaptation/graph.py
  victor/framework/di/container.py
  victor/framework/validation/pipeline.py
  victor/framework/validation/validators.py
  victor/framework/validation/yaml.py
  victor/native/python/serialization.py
  victor/native/rust/regex_engine.py
  victor/observability/analytics/enhanced_logger.py
  victor/observability/emitters/lifecycle_emitter.py
  victor/observability/emitters/model_emitter.py
  victor/observability/emitters/state_emitter.py
  victor/teams/advanced_formations.py
  victor/telemetry/opentelemetry.py
  victor/tools/alias_resolver.py
  victor/tools/browser_tool.py
  victor/tools/hybrid_tool_selector.py
  victor/tools/validators/common.py
  victor/ui/rendering/handler.py
  victor/workflows/service_lifecycle.py
  victor/workflows/services/credentials.py
  victor/workflows/services/providers/docker.py
  victor/workflows/team_tracing.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: add comprehensive deprecation analysis and migration plan
  DEPRECATION_MIGRATION_PLAN.md
Due: none

refactor: complete ToolDependencyProvider migration for RAG and DevOps verticals
  DEPRECATION_MIGRATION_PLAN.md
  victor/devops/__init__.py
  victor/rag/__init__.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: migrate CodingAssistant away from direct capability instantiation
  DEPRECATION_MIGRATION_PLAN.md
  victor/coding/assistant.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: update deprecation migration progress summary
  DEPRECATION_MIGRATION_PLAN.md
Due: none

refactor: remove deprecated domain-specific methods from ChatCoordinator
  victor/agent/coordinators/chat_coordinator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: remove hard-coded tool lists from action_authorizer
  victor/agent/action_authorizer.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: update deprecation migration plan - all categories complete
  DEPRECATION_MIGRATION_PLAN.md
Due: none

test: skip Phase 3 migration tests and DevOps workflow test
  tests/unit/agent/coordinators/test_chat_coordinator.py
  tests/unit/framework/capabilities/test_phase3_capabilities.py
  tests/unit/framework/test_vertical_integration.py
  victor/agent/mixins/__init__.py
  victor/agent/mixins/legacy_api.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: remove backward compatibility and migration code (pre-release cleanup)
  tests/unit/agent/test_legacy_api.py
  victor/agent/orchestrator.py
  victor/agent/orchestrator_imports.py
  victor/core/verticals/__init__.py
  victor/core/verticals/capability_adapter.py
  victor/core/verticals/capability_migration.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: remove INTENT_BLOCKED_TOOLS import and obsolete test file
  victor/agent/tool_planner.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: remove tests for deprecated hard-coded tool lists
  tests/unit/agent/test_action_authorizer.py
Due: check-file-size, pytest-changed-files

refactor: remove backward compatibility features from tools/decorators
  victor/core/tool_dependency_backward_compat.py
  victor/tools/decorators.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: remove legacy mapping table from schema (Module 2 cleanup)
  victor/core/schema.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: skip TestToolCategories tests and fix imports
  tests/unit/core/verticals/test_capability_adapter.py
  tests/unit/core/verticals/test_capability_migration.py
  tests/unit/test_action_authorizer.py
  victor/coding/codebase/embeddings/lancedb_provider.py
  victor/coding/completion/provider.py
  victor/coding/completion/providers/ai.py
  victor/coding/step_handlers/chat_workflow_handler.py
  victor/config/personas/agent_personas.yaml
  victor/context/codebase_analyzer.py
  victor/core/language_capabilities/validators/cpp_validator.py
  victor/observability/distributed_tracing.py
  victor/observability/emitters/error_emitter.py
  victor/observability/emitters/lifecycle_emitter.py
  victor/observability/emitters/model_emitter.py
  victor/observability/emitters/state_emitter.py
  victor/optimization/runtime/parallel_executor.py
  victor/providers/stream_adapter.py
  victor/storage/vector_stores/lancedb_provider.py
  victor/storage/vector_stores/proximadb_provider.py
  victor/telemetry/opentelemetry.py
  victor/tools/code_review_tool.py
  victor/tools/file_editor_tool.py
  victor/tools/semantic_selector.py
  victor/ui/commands/workflow.py
  victor/ui/slash/commands/metrics.py
  victor/ui/slash/commands/switch.py
  victor/workflows/advanced_formations_schema.py
  victor/workflows/service_lifecycle.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
  pytest-changed-files: any of: ^victor/.*\.py$|^tests/unit/.*\.py$
