Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

validate-workflows:
  name: Validate YAML Workflows
  entry: scripts/hooks/validate_workflows.sh
  language: script
  pass_filenames: true
  description: 'Validate YAML workflow files before commit. Checks YAML syntax, workflow compilation, and common errors. Run with VICTOR_VERBOSE_VALIDATION=1 for detailed output.
  
    '

check-imports:
  name: Check Python imports
  entry: python scripts/check_imports.py
  language: python
  pass_filenames: false

validate-modes:
  name: Validate mode configurations
  entry: python -m victor.core.mode_config
  language: python
  pass_filenames: false

validate-capabilities:
  name: Validate capability configurations
  entry: python -m victor.core.capabilities
  language: python
  pass_filenames: false

validate-teams:
  name: Validate team configurations
  entry: python -m victor.core.teams
  language: python
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME comments
  entry: scripts/hooks/check_todos.sh
  language: script
  description: 'Check for TODO/FIXME/HACK comments in code. Use this to track technical debt.
  
    '

check-docstrings:
  name: Validate docstrings
  entry: scripts/hooks/check_docstrings.py
  language: python
  description: 'Check that public functions and classes have docstrings. Google-style docstrings preferred.
  
    '

check-file-size:
  name: Check file size
  entry: scripts/hooks/check_file_size.sh
  language: script
  description: 'Check that Python files are not too large (>500 lines). Large files should be refactored into smaller modules.
  
    '

check-complexity:
  name: Check code complexity
  entry: scripts/hooks/check_complexity.py
  language: python
  description: 'Check cyclomatic complexity of functions. Functions with complexity > 10 should be refactored.
  
    '

pytest-changed-files:
  name: Run pytest on changed Python files
  entry: pytest -x -v --tb=short -m "not slow and not integration"
  language: python
  pass_filenames: false
  description: 'Run pytest on changed Python files. Only runs unit tests, excludes slow and integration tests. This provides fast feedback on code changes.
  
  ...

test: remove test for deprecated set_legacy_name_warnings function
  tests/unit/tools/test_tools_comprehensive.py
Due: check-file-size, pytest-changed-files

refactor: remove backward compatibility capability aliases (Module 3)
  tests/unit/tools/test_tool_capabilities.py
  victor/tools/capabilities/definitions.py
  victor/tools/capabilities/system.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: remove _tools backward compatibility alias (Module 4)
  tests/unit/core/test_tool_base.py
  tests/unit/tools/test_tools_comprehensive.py
  victor/tools/registry.py
  victor/ui/commands/capabilities.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: remove cache manager singleton (Module 5)
  victor/tools/cache_manager.py
  victor/tools/context.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: remove test_decorators.py for removed functionality
  tests/unit/core/test_decorators.py
  victor/config/personas/agent_personas.yaml
  victor/observability/distributed_tracing.py
  victor/telemetry/opentelemetry.py
  victor/ui/commands/workflow.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: remove unused _normalize_path function (Module 6)
  victor/tools/filesystem.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: clarify re-export comments as canonical public API (Module 7)
  victor/tools/__init__.py
  victor/tools/composition/__init__.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: enforce DI for database tool, remove global _connections
  tests/unit/tools/test_database_tool.py
  victor/tools/database_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: add deprecation cleanup report for Modules 1-8
  DEPRECATION_CLEANUP_REPORT.md
Due: none

refactor: complete backward compatibility cleanup (Modules 9-10)
  victor/agent/tool_selection.py
  victor/tools/metadata.py
  victor/tools/output_utils.py
  victor/tools/selection_common.py
  victor/tools/semantic_selector.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: update deprecation cleanup report for Modules 1-10
  DEPRECATION_CLEANUP_REPORT.md
Due: none

test: fix test failures after metadata-based authorization changes
  tests/unit/tools/test_tool_planner.py
  victor/tools/validators/common.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: handle Path objects correctly in scaffold_tool
  victor/tools/scaffold_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: remove ScanResult backward compatibility alias (Module 11)
  victor/core/security/__init__.py
  victor/core/security/patterns/__init__.py
  victor/core/security/patterns/code_patterns.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: update deprecation cleanup report - Modules 1-11 complete
  DEPRECATION_CLEANUP_REPORT.md
Due: none

fix: resolve deadlock in VerticalTemplateRegistry.get_statistics
  tests/integration/agent/test_orchestrator_integration_coverage.py
  tests/smoke/test_coordinator_smoke.py
  tests/unit/agent/coordinators/test_workflow_coordinator.py
  tests/unit/agent/test_agent_modules_coverage.py
  tests/unit/agent/test_grounding_verifier.py
  tests/unit/agent/test_orchestrator_core.py
  tests/unit/protocols/test_grounding_protocol.py
  tests/unit/protocols/test_protocols_grounding_quality.py
  victor/agent/builders/tooling_builder.py
  victor/agent/coordinators/workflow_coordinator.py
  victor/agent/error_recovery.py
  victor/agent/orchestrator.py
  victor/agent/orchestrator_imports.py
  victor/agent/protocols.py
  victor/agent/service_provider.py
  victor/agent/unified_task_tracker.py
  victor/coding/assistant.py
  victor/coding/tool_dependencies.yaml
  victor/config/personas/agent_personas.yaml
  victor/core/tool_dependency_loader.py
  victor/core/tool_dependency_schema.py
  victor/dataanalysis/assistant.py
  victor/dataanalysis/tool_dependencies.yaml
  victor/devops/assistant.py
  victor/devops/tool_dependencies.yaml
  victor/framework/coordinators/graph_coordinator.py
  victor/framework/coordinators/workflow_chat_coordinator.py
  victor/framework/service_provider.py
  victor/framework/step_handlers.py
  victor/framework/vertical_integration.py
  victor/framework/vertical_template_registry.py
  victor/framework/workflow_orchestrator.py
  victor/rag/tool_dependencies.yaml
  victor/research/assistant.py
  victor/tools/workflow_tool.py
  victor/workflows/mode_workflows.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: correct import name in error recovery tests
  tests/unit/core/test_error_recovery.py
  victor/agent/unified_task_tracker.py
  victor/coding/refactor/__init__.py
  victor/coding/refactor/protocol.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: correct Symbol class name in refactor protocol tests
  tests/unit/protocols/test_refactor_protocol.py
  victor/coding/refactor/analyzer.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: handle macOS system dependencies correctly in test regression workflow
  .github/workflows/test-regression.yml
Due: none

style: apply black and ruff formatting fixes to remaining files
  tests/unit/observability/test_health.py
  tests/unit/workflows/test_compiled_executor.py
  victor/agent/error_recovery.py
  victor/agent/prompt_builder.py
  victor/agent/unified_task_tracker.py
  victor/coding/review/__init__.py
  victor/coding/review/protocol.py
  victor/config/personas/agent_personas.yaml
  victor/observability/distributed_tracing.py
  victor/observability/emitters/lifecycle_emitter.py
  victor/security_analysis/tools/manager.py
  victor/tools/decorators.py
  victor/tools/documentation_tool.py
  victor/tools/file_editor_tool.py
  victor/tools/graph_tool.py
  victor/tools/registry.py
  victor/tools/validators/common.py
  victor/tools/workflow_tool.py
  victor/ui/slash/registry.py
  victor/ui/tui/widgets.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: correct Severity class name in review module
  tests/unit/protocols/test_review_protocol.py
  victor/coding/review/manager.py
  victor/coding/review/rules.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: update metadata_registry import to use enums module
  victor/tools/metadata_registry.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: Phase 3 - content consolidation (split large files)
  docs/architecture/BEST_PRACTICES.md
  docs/architecture/COMPONENT_REFERENCE.md
  docs/architecture/DESIGN_PATTERNS.md
  docs/architecture/patterns/behavioral.md
  docs/architecture/patterns/structural.md
  docs/guides/component-usage.md
  docs/guides/coordinators.md
  split_docs_phase2.py
  tests/unit/indexers/test_indexer.py
  victor/coding/codebase/__init__.py
  victor/coding/codebase/indexer.py
  victor/providers/__init__.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: cleanup - remove temporary split scripts
  split_docs.py
  split_docs_phase2.py
Due: check-file-size

fix: correct import errors in providers and test files
  docs/diagrams/architecture/coordinator-layers.mmd
  docs/diagrams/architecture/data-flow.mmd
  docs/diagrams/architecture/provider-switch-detailed.mmd
  docs/diagrams/operations/deployment.mmd
  tests/unit/agent/test_budget_manager.py
  tests/unit/core/test_metadata_registry.py
  tests/unit/tools/test_tool_dependency_planning.py
  tests/unit/tools/test_tools_comprehensive.py
  victor/providers/registry.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: Phase 4 - add infographic diagrams (8 new Mermaid diagrams)
  docs/diagrams/architecture/extension-system.mmd
  docs/diagrams/architecture/tool-execution-detailed.mmd
  docs/diagrams/user-journeys/beginner-onboarding.mmd
  docs/diagrams/user-journeys/contributor-workflow.mmd
Due: none

docs: Phase 4 complete - embed diagrams and create index
  docs/architecture/overview.md
  docs/contributing/index.md
  docs/diagrams/README.md
  docs/getting-started/index.md
  docs/operations/index.md
  victor/coding/codebase/indexer.py
  victor/iac/protocol.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: Phase 5 complete - add user journey paths
  docs/index.md
  docs/journeys/advanced.md
  docs/journeys/beginner.md
  docs/journeys/developer.md
  docs/journeys/index.md
  docs/journeys/intermediate.md
  docs/journeys/operations.md
Due: none

docs: Phase 6 complete - establish documentation standards
  .cspell.json
  .github/scripts/check_doc_standards.py
  .github/scripts/check_file_sizes.py
  .github/workflows/docs-lint.yml
  .markdownlint.json
  docs/STANDARDS.md
  docs/templates/README.md
  docs/templates/explanation.md
  docs/templates/how-to.md
  docs/templates/reference.md
  docs/templates/tutorial.md
Due: check-file-size

docs: Phase 8 complete - launch preparation and feedback systems
  docs/ANNOUNCEMENT.md
  docs/CHANGELOG.md
  docs/FEEDBACK.md
Due: none

fix: resolve myPy unreachable code errors
  tests/unit/tools/test_iac_scanner_tool.py
  victor/config/personas/agent_personas.yaml
  victor/core/language_capabilities/types.py
  victor/tools/validators/common.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: fix type references and remove deprecated aliases
  tests/integration/framework/test_tool_executor_integration.py
  tests/unit/agent/test_orchestrator_core.py
  victor/agent/grounding_verifier.py
  victor/agent/resilience.py
  victor/observability/debug/__init__.py
  victor/observability/debug/protocol.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
  pytest-changed-files: any of: ^victor/.*\.py$|^tests/unit/.*\.py$
