Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

validate-workflows:
  name: Validate YAML Workflows
  entry: scripts/hooks/validate_workflows.sh
  language: script
  pass_filenames: true
  description: 'Validate YAML workflow files before commit. Checks YAML syntax, workflow compilation, and common errors. Run with VICTOR_VERBOSE_VALIDATION=1 for detailed output.
  
    '

check-imports:
  name: Check Python imports
  entry: python scripts/check_imports.py
  language: python
  pass_filenames: false

validate-modes:
  name: Validate mode configurations
  entry: python -m victor.core.mode_config
  language: python
  pass_filenames: false

validate-capabilities:
  name: Validate capability configurations
  entry: python -m victor.core.capabilities
  language: python
  pass_filenames: false

validate-teams:
  name: Validate team configurations
  entry: python -m victor.core.teams
  language: python
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME comments
  entry: scripts/hooks/check_todos.sh
  language: script
  description: 'Check for TODO/FIXME/HACK comments in code. Use this to track technical debt.
  
    '

check-docstrings:
  name: Validate docstrings
  entry: scripts/hooks/check_docstrings.py
  language: python
  description: 'Check that public functions and classes have docstrings. Google-style docstrings preferred.
  
    '

check-file-size:
  name: Check file size
  entry: scripts/hooks/check_file_size.sh
  language: script
  description: 'Check that Python files are not too large (>500 lines). Large files should be refactored into smaller modules.
  
    '

check-complexity:
  name: Check code complexity
  entry: scripts/hooks/check_complexity.py
  language: python
  description: 'Check cyclomatic complexity of functions. Functions with complexity > 10 should be refactored.
  
    '

pytest-changed-files:
  name: Run pytest on changed Python files
  entry: pytest -x -v --tb=short -m "not slow and not integration"
  language: python
  pass_filenames: false
  description: 'Run pytest on changed Python files. Only runs unit tests, excludes slow and integration tests. This provides fast feedback on code changes.
  
  ...

fix: correct StageDefinition import in DevOps assistant
  victor/devops/assistant.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: FrameworkScope singleton retrieval from parent container
  victor/framework/service_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: update vertical capability integration tests
  tests/integration/framework/test_vertical_adoption.py
  tests/integration/framework/test_vertical_capability_integration.py
  tests/integration/framework/test_vertical_integration_dip.py
Due: check-file-size

fix: resolve various integration test issues
  tests/integration/coordinators/test_extracted_coordinators_integration.py
  tests/integration/framework/debugging/test_integration.py
  tests/integration/framework/test_vertical_registration.py
  tests/integration/rag/test_rag_pipeline.py
  tests/integration/test_performance_scenarios.py
  tests/integration/verticals/test_cli_framework_integration.py
Due: check-file-size

feat: add protocol exports and extensions
  victor/agent/protocols.py
  victor/core/verticals/protocols/__init__.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: update test commands and agent personas
  docs/development/TEST_COMMANDS.md
  victor/config/personas/agent_personas.yaml
Due: none

fix: use correct StreamMetrics import in coordinator tests
  tests/unit/agent/coordinators/conftest.py
Due: check-file-size, pytest-changed-files

feat: add DIP compliance tests and accessor protocols
  tests/unit/agent/test_orchestrator_accessor_protocols.py
  tests/unit/framework/test_dip_compliance.py
  victor/framework/decomposed_handlers.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add decomposed step handlers and protocol checking tests
  tests/unit/core/verticals/test_protocol_checking.py
  tests/unit/framework/test_decomposed_step_handlers.py
  victor/core/verticals/protocols/utils.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add RL config factory and unified configuration
  tests/unit/framework/rl/test_rl_config_factory.py
  victor/config/rl/unified_rl_config.yaml
  victor/framework/rl/config_factory.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve test failures and extend config validation
  scripts/validate_config.py
  tests/integration/real_execution/conftest_all_providers.py
  tests/integration/real_execution/test_all_providers.py
  tests/unit/agent/coordinators/test_chat_coordinator.py
  victor/agent/coordinators/context_coordinator.py
  victor/framework/decomposed_handlers.py
  victor/framework/rl/config_factory.py
  victor/framework/service_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: graceful timeout handling and edit tool parameter recovery
  tests/integration/real_execution/test_all_providers.py
  tests/integration/real_execution/test_multi_provider_execution.py
  victor/tools/file_editor_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: add read tool parameter recovery and conversation flow timeouts
  tests/integration/real_execution/test_real_conversation_flow.py
  victor/tools/filesystem.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: add graceful timeout handling to error scenario tests
  tests/integration/real_execution/test_real_conversation_flow.py
  tests/integration/real_execution/test_real_error_scenarios.py
Due: check-file-size

fix: update assertion to accept 'does not exist' phrasing
  tests/integration/real_execution/test_real_error_scenarios.py
Due: check-file-size

feat: add unified language capability registry
  tests/unit/core/language_capabilities/__init__.py
  tests/unit/core/language_capabilities/test_all_languages.py
  tests/unit/core/language_capabilities/test_config_validators.py
  tests/unit/core/language_capabilities/test_extractors.py
  tests/unit/core/language_capabilities/test_feature_flags.py
  tests/unit/core/language_capabilities/test_go_java_extractors.py
  tests/unit/core/language_capabilities/test_hooks.py
  tests/unit/core/language_capabilities/test_registry.py
  tests/unit/core/language_capabilities/test_validators.py
  victor/config/languages/capabilities.yaml
  victor/core/language_capabilities/__init__.py
  victor/core/language_capabilities/config_loader.py
  victor/core/language_capabilities/extractors/__init__.py
  victor/core/language_capabilities/extractors/base.py
  victor/core/language_capabilities/extractors/cpp_extractor.py
  victor/core/language_capabilities/extractors/go_extractor.py
  victor/core/language_capabilities/extractors/java_extractor.py
  victor/core/language_capabilities/extractors/python_extractor.py
  victor/core/language_capabilities/extractors/tree_sitter_extractor.py
  victor/core/language_capabilities/extractors/unified_extractor.py
  victor/core/language_capabilities/feature_flags.py
  victor/core/language_capabilities/hooks.py
  victor/core/language_capabilities/registry.py
  victor/core/language_capabilities/types.py
  victor/core/language_capabilities/validators/__init__.py
  victor/core/language_capabilities/validators/config_validators.py
  victor/core/language_capabilities/validators/cpp_validator.py
  victor/core/language_capabilities/validators/go_validator.py
  victor/core/language_capabilities/validators/java_validator.py
  victor/core/language_capabilities/validators/python_validator.py
  victor/core/language_capabilities/validators/tree_sitter_validator.py
  victor/core/language_capabilities/validators/unified_validator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: add integration tests for language capability system
  tests/integration/language_capabilities/__init__.py
  tests/integration/language_capabilities/test_consistency.py
  tests/integration/language_capabilities/test_end_to_end_consistency.py
  tests/integration/language_capabilities/test_file_write_validation.py
  tests/integration/language_capabilities/test_testgen_validation.py
Due: check-file-size

feat: integrate validation hooks with file operations
  victor/coding/codebase/unified_extractor.py
  victor/coding/editing/editor.py
  victor/coding/testgen/manager.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add victor validate CLI command
  victor/ui/cli.py
  victor/ui/commands/validate.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: add language capabilities documentation
  docs/architecture/overview.md
  docs/verticals/coding.md
Due: none

test: add prewarm fixtures for LM Studio and Ollama
  tests/integration/agent/test_critical_modules_multimodel.py
  tests/integration/providers/test_lmstudio_integration.py
Due: check-file-size

test: increase timeouts for slow local providers
  tests/integration/real_execution/test_all_providers.py
  tests/integration/real_execution/test_multi_provider_execution.py
Due: check-file-size

build: add language capability dependencies
  pyproject.toml
Due: none

fix: exclude semgrep on Windows (unsupported platform)
  pyproject.toml
Due: none

ci: streamline test workflows, remove redundant jobs
  .github/workflows/ci.yml
  .github/workflows/test-suite.yml
Due: none

fix: increase pytest timeouts to prevent race with asyncio skip
  tests/integration/real_execution/test_real_conversation_flow.py
  tests/integration/real_execution/test_real_error_scenarios.py
Due: check-file-size

test: increase timeout for context preservation tests
  tests/integration/real_execution/test_real_conversation_flow.py
Due: check-file-size

fix: increase asyncio skip timeouts from 90s to 180s for Ollama
  tests/integration/real_execution/test_real_conversation_flow.py
Due: check-file-size

ci: pin black version to avoid formatting drift
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

ci: pin black to 25.11.0 for consistent formatting
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

fix: remove unused variables flagged by ruff
  victor/agent/cache_prewarming.py
  victor/agent/coordinators/chat_coordinator.py
  victor/agent/coordinators/tool_coordinator.py
  victor/agent/orchestrator_factory.py
  victor/agent/shared_tool_registry.py
  victor/coding/codebase/indexer.py
  victor/config/personas/agent_personas.yaml
  victor/core/language_capabilities/extractors/java_extractor.py
  victor/core/language_capabilities/extractors/tree_sitter_extractor.py
  victor/core/language_capabilities/hooks.py
  victor/experiments/sqlite_store.py
  victor/feature_flags/resolvers.py
  victor/framework/__init__.py
  victor/framework/capability_loader.py
  victor/framework/patterns/protocols.py
  victor/integrations/api/fastapi_server.py
  victor/integrations/api/server.py
  victor/teams/collaboration_mixin.py
  victor/workflows/node_runners.py
  victor/workflows/unified_compiler.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

style: reformat files after ruff fixes
  victor/agent/coordinators/tool_coordinator.py
  victor/core/security/__init__.py
  victor/core/security/audit/__init__.py
  victor/core/security/audit/checker.py
  victor/core/security/audit/logger.py
  victor/core/security/audit/manager.py
  victor/core/security/audit/protocol.py
  victor/core/security/auth/__init__.py
  victor/core/security/auth/rbac.py
  victor/core/security/authorization.py
  victor/core/security/protocol.py
  victor/core/verticals/lazy_loader.py
  victor/framework/capability_loader.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

style: reformat files with black
  tests/unit/agent/coordinators/test_memory_coordinator.py
  victor/core/language_capabilities/validators/config_validators.py
  victor/security/__init__.py
  victor/security_analysis/assistant.py
  victor/security_analysis/handlers.py
  victor/security_analysis/prompts.py
  victor/security_analysis/service_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve ruff linting errors
  tests/benchmarks/test_performance_optimizations.py
  tests/integration/real_execution/conftest.py
  tests/integration/security/test_security_integration.py
  tests/performance/optimizations/test_lazy_loading_performance.py
  tests/performance/optimizations/test_optimization_performance.py
  tests/performance/optimizations/test_parallel_performance.py
  tests/performance/optimizations/test_phase4_performance.py
  tests/security/test_authorization_enhanced.py
  tests/security/test_penetration_testing.py
  tests/security/test_security_audit.py
  tests/unit/agent/coordinators/test_response_coordinator.py
  tests/unit/agent/coordinators/test_team_coordinator.py
  tests/unit/agent/test_vertical_integration_adapter_di.py
  tests/unit/core/test_rbac.py
  tests/unit/core/verticals/test_extensions_split.py
  tests/unit/optimizations/test_database_optimizer.py
  tests/unit/optimizations/test_lazy_loader.py
  tests/unit/optimizations/test_memory_optimizer.py
  tests/unit/optimizations/test_parallel_executor.py
  tests/unit/security/safety/test_code_patterns.py
  tests/unit/security/safety/test_infrastructure.py
  tests/unit/security/safety/test_safety_registry.py
  tests/unit/security/test_authorization_enhanced.py
  tests/unit/tools/test_audit_tool.py
  tests/unit/verticals/test_protocol_consistency.py
Due: check-file-size, pytest-changed-files

fix: resolve mypy type errors in framework and modules
  victor/agent/conversation_memory.py
  victor/coding/codebase/embeddings/models.py
  victor/coding/codebase/indexer.py
  victor/framework/__init__.py
  victor/framework/capability_loader.py
  victor/framework/service_provider.py
  victor/processing/completion/providers/ai.py
  victor/security/__init__.py
  victor/storage/vector_stores/models.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

style: format files modified by type fixes
  docs/migration/DEPRECATED_CALL_SITES.md
  docs/migration/DEPRECATION_INVENTORY.md
  docs/migration/LEGACY_API_USAGE.md
  victor/agent/conversation_memory.py
  victor/agent/tool_executor.py
  victor/core/security/auth/__init__.py
  victor/core/security/auth/rbac.py
  victor/framework/capability_loader.py
  victor/framework/service_provider.py
  victor/framework/step_handlers.py
  victor/optimization/__init__.py
  victor/optimization/core/hot_path.py
  victor/optimization/runtime/algorithms.py
  victor/optimization/runtime/concurrency.py
  victor/optimization/runtime/database.py
  victor/optimization/runtime/lazy_loader.py
  victor/optimization/runtime/memory.py
  victor/optimization/runtime/network.py
  victor/optimization/runtime/parallel_executor.py
  victor/optimization/workflow/__init__.py
  victor/optimization/workflow/evaluator.py
  victor/optimization/workflow/generator.py
  victor/optimization/workflow/models.py
  victor/optimization/workflow/optimizer.py
  victor/optimization/workflow/profiler.py
  victor/optimization/workflow/search.py
  victor/optimization/workflow/strategies.py
  victor/optimization/workflow/validator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: add watchdog dependency for file watching support
  pyproject.toml
Due: none

fix: resolve post validation results artifact dependency issue
  .github/workflows/pr-comment.yml
Due: none

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
  pytest-changed-files: any of: ^victor/.*\.py$|^tests/unit/.*\.py$
