Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
  pytest-changed-files: any of: ^victor/.*\.py$|^tests/unit/.*\.py$

docs: Add comprehensive AST, LSP, and Graph support analysis
  docs/AST_LSP_GRAPH_ANALYSIS.md
Due: none

fix(deployment): Fix metric name extraction in rollback test
  tests/deployment/test_rollback.py
Due: check-file-size

fix(load_test): Add API server availability check to load_test tests
  tests/load_test/conftest.py
  tests/load_test/test_scalability.py
Due: check-file-size

fix: Fix remaining test failures in deployment tests
  victor/framework/__init__.py
  victor/framework/checkpoint.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve 3 deployment test failures in test_testing_environment.py
  tests/deployment/test_testing_environment.py
  victor/config/settings.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve package name conflict in 'all' extra dependency
  pyproject.toml
Due: none

fix: resolve dependency version conflicts for pydantic, uvicorn, and opentelemetry
  pyproject.toml
Due: none

fix: add opentelemetry-instrumentation-threading to resolve version conflict
  pyproject.toml
Due: none

fix: resolve persona test isolation issues causing version conflicts
  tests/integration/agent/personas/conftest.py
  tests/integration/agent/personas/test_persona_integration.py
Due: check-file-size

fix: resolve persona memory test type errors and UUID issues
  tests/integration/agent/personas/test_persona_memory_integration.py
Due: check-file-size

fix: add missing completed_tasks parameter in test_replan_with_recovery
  tests/integration/agent/planning/test_planning_integration.py
Due: check-file-size

fix: correct bootstrap_container patch path in orchestrator factory tests
  tests/integration/agent/test_orchestrator_factory_e2e.py
Due: check-file-size

fix: resolve 3 security integration test failures
  tests/integration/security/test_security_authorization_integration.py
  tests/integration/security/test_security_integration.py
Due: check-file-size

fix: update cross-vertical workflow tests for get_tools() API change
  tests/integration/verticals/test_cross_vertical_workflows_old.py
Due: check-file-size

feat: implement memory-driven persona adaptation APIs
  tests/integration/agent/personas/test_persona_memory_integration.py
  victor/agent/memory/semantic_memory.py
  victor/agent/personas/persona_manager.py
  victor/agent/personas/types.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: LanceDB API compatibility and test fixture cleanup
  pyproject.toml
  tests/integration/framework/debugging/conftest.py
  victor/agent/conversation_embedding_store.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add RBAC auth module and OpenTelemetry setup
  victor/auth/__init__.py
  victor/auth/rbac.py
  victor/telemetry/opentelemetry.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: add event_bus fixture cleanup in unit debugging tests
  tests/unit/framework/debugging/conftest.py
Due: check-file-size, pytest-changed-files

fix: centralize singleton reset for test isolation
  tests/__init__.py
  tests/conftest.py
  tests/singleton_reset.py
  tests/unit/conftest.py
  victor/agent/tool_calling/capabilities.py
  victor/integrations/api/event_bridge.py
  victor/workflows/scheduler.py
  victor/workflows/trigger_registry.py
  victor/workflows/versioning.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve integration test failures across multiple test suites
  tests/integration/agent/skills/test_skill_chaining.py
  tests/integration/agent/test_tool_pipeline_cache_integration.py
  tests/integration/api/test_server_feature_parity.py
  tests/integration/api/test_workflow_visualization.py
  tests/integration/coding/test_code_review_workflow_enhanced.py
  tests/integration/dataanalysis/test_analysis_workflow.py
  victor/agent/skills/skill_chaining.py
  victor/config/personas/agent_personas.yaml
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: centralize singleton reset for test isolation
  tests/conftest.py
  tests/singleton_reset.py
  tests/unit/conftest.py
  victor/agent/tool_calling/capabilities.py
  victor/integrations/api/event_bridge.py
  victor/workflows/scheduler.py
  victor/workflows/trigger_registry.py
  victor/workflows/versioning.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: add networks section to sample_docker_compose fixture
  tests/integration/devops/test_deployment_workflow.py
Due: check-file-size

fix: ensure escape hatch re-registration after singleton reset
  tests/integration/framework/test_vertical_registration.py
Due: check-file-size

fix: correct reset_container import in benchmark tests
  tests/performance/benchmarks/test_initialization.py
  tests/performance/benchmarks/test_memory.py
Due: check-file-size

fix: correct TaskGraph get_dependencies method and add complexity sorting
  victor/agent/planning/task_decomposition.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: improve test isolation and add circuit breaker testing support
  tests/integration/optimizations/test_performance_integration.py
  tests/integration/providers/test_provider_switching.py
Due: check-file-size

test: migrate smoke tests to use new event bus API
  tests/smoke/test_production_smoke.py
Due: check-file-size

feat: add docker build operation support
  victor/tools/docker_tool.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

chore: update agent personas metadata and formatting
  victor/config/personas/agent_personas.yaml
Due: none

test: fix import paths and checks in security smoke tests
  tests/smoke/test_production_smoke.py
Due: check-file-size

fix: correct validation tests and add orphaned task detection
  tests/unit/agent/planning/test_hierarchical_planner.py
  victor/agent/planning/task_decomposition.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve test fixture and mocking issues
  tests/conftest.py
  tests/smoke/test_production_smoke.py
  tests/unit/benchmark/test_comprehensive_benchmark.py
Due: check-file-size, pytest-changed-files

fix: correct TaskGraph.get_dependencies and get_dependents methods
  victor/agent/planning/task_decomposition.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve test failures in vertical integration and planning
  tests/integration/verticals/test_cli_framework_integration.py
  victor/core/verticals/base.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: correct tool list handling in cross-vertical workflow test
  tests/integration/verticals/test_cross_vertical_workflows_old.py
Due: check-file-size

fix: add api_server_available fixture to load tests
  tests/load/test_api_load.py
  tests/load/test_concurrent_users.py
  tests/load/test_memory_pressure.py
Due: check-file-size
