Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
  pytest-changed-files: any of: ^victor/.*\.py$|^tests/unit/.*\.py$

docs: implement industry-standard linting rules with context-based diagram requirements
  .github/scripts/check_doc_standards.py
Due: check-file-size

docs: remove line length check from linting (recommends in standards instead)
  .github/scripts/check_doc_standards.py
Due: check-file-size

docs: add mermaid diagrams to architecture and workflow documentation
  docs/architecture/INDEX.md
  docs/architecture/PROTOCOLS_REFERENCE.md
  docs/architecture/REFACTORING_OVERVIEW.md
  docs/guides/workflows/advanced_formations/index.md
  docs/guides/workflows/team-nodes/index.md
  docs/operations/observability/README.md
Due: none

docs: add mermaid diagrams to 28 more documentation files
  docs/architecture/PHASE6_CACHE_BOUNDARIES_COMPLETION.md
  docs/architecture/coordinator_based_architecture.md
  docs/architecture/extension_system.md
  docs/contributing/CHECKPOINTS.md
  docs/contributing/code-style.md
  docs/contributing/testing.md
  docs/guides/HITL_WORKFLOWS.md
  docs/guides/OBSERVABILITY.md
  docs/guides/VICTOR_AS_MCP_SERVER.md
  docs/guides/WORKFLOW_SCHEDULER.md
  docs/guides/observability/event-bus.md
  docs/guides/observability/metrics.md
  docs/guides/workflows/execution_replay.md
  docs/guides/workflows/ml_formation_selection.md
  docs/operations/observability/HEALTH_CHECKS.md
  docs/operations/observability/PROMETHEUS_METRICS.md
  docs/operations/observability/STRUCTURED_LOGGING.md
  docs/operations/observability/realtime_dashboard.md
  docs/operations/observability/team_metrics.md
  docs/reference/caching/CACHE_ANALYTICS.md
  docs/reference/caching/CACHE_INVALIDATION.md
  docs/reference/caching/CACHE_WARMING.md
  docs/reference/caching/MULTI_LEVEL_CACHE.md
  docs/reference/caching/README.md
  docs/reference/caching/SEMANTIC_CACHING.md
  docs/reference/errors.md
Due: none

fix: resolve CI/CD documentation failures
  .github/workflows/docs-lint.yml
  .markdownlint.json
  docs/operations/performance/performance/cache_troubleshooting/README.md
  docs/reference/api/python-api/README.md
  docs/reference/api/python-api/part-1-core-advanced-api.md
  docs/reference/api/python-api/part-2-testing-examples.md
Due: none

docs: add missing cache_troubleshooting part files
  docs/operations/performance/performance/cache_troubleshooting/part-1-issues-solutions.md
  docs/operations/performance/performance/cache_troubleshooting/part-2-debug-emergency.md
Due: none

fix: relax additional markdown lint rules
  .markdownlint.json
  docs/reference/api/python-api.md
Due: none

fix: update file size check to skip split files
  .github/scripts/check_file_sizes.py
Due: check-file-size

fix: update docs lint workflow and markdownlint config
  .github/workflows/docs-lint.yml
  .markdownlint.json
Due: none

fix: improve link validation and diagram rendering
  .github/workflows/docs-lint.yml
Due: none

fix: correct YAML syntax for MMDPUPPETEER_LAUNCH_OPTIONS env var
  .github/workflows/docs-lint.yml
Due: none

fix: remove original files that were split into directories
  docs/contributing/testing/TESTING_README.md
  docs/operations/performance/performance/cache_troubleshooting.md
Due: none

fix: remove --exclude-missing flag not supported by lychee v0.15.0
  .github/workflows/docs-lint.yml
Due: none

fix: set link validation to informational-only (fail: false)
  .github/workflows/docs-lint.yml
Due: none

test: fix failing tests by adding skip decorators and mock fixes
  .github/workflows/workflow-validation.yml
  tests/unit/agent/cache/backends/test_redis_backend.py
  tests/unit/agent/coordinators/test_tool_execution_coordinator.py
  tests/unit/agent/multimodal/test_vision_agent.py
Due: check-file-size, pytest-changed-files

style: apply Black formatting to test files
  tests/unit/agent/cache/backends/test_redis_backend.py
  tests/unit/agent/multimodal/test_vision_agent.py
Due: check-file-size, pytest-changed-files

test: fix pytest skip decorator on fixtures
  tests/unit/agent/multimodal/test_vision_agent.py
Due: check-file-size, pytest-changed-files

ci: fix pip resolver hanging by using requirements.txt
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/test-performance.yml
  .github/workflows/test-regression.yml
  .github/workflows/test-suite.yml
  requirements.txt
Due: none

fix: update pydantic to 2.11.2 to resolve mcp dependency conflict
  requirements.txt
Due: none

fix: update pydantic_core to 2.33.1 to match pydantic 2.11.2 requirement
  requirements.txt
Due: none

fix: update uvicorn to 0.31.1 to resolve mcp dependency conflict
  requirements.txt
Due: none

fix: update opentelemetry-instrumentation packages to 0.60b1
  requirements.txt
Due: none

fix: update remaining opentelemetry packages to 0.60b1
  requirements.txt
Due: none

fix: update opentelemetry SDK packages to 1.39.1 for compatibility
  requirements.txt
Due: none

fix: downgrade semgrep to 1.79.0 to resolve opentelemetry dependency conflict
  requirements.txt
Due: none

fix: downgrade ruamel.yaml to 0.17.40 for semgrep 1.79.0 compatibility
  requirements.txt
Due: none

fix: downgrade tomli to 2.0.2 for semgrep 1.79.0 compatibility
  requirements.txt
Due: none

fix: downgrade pip_audit to 2.9.0 for tomli 2.0.2 compatibility
  requirements.txt
Due: none

fix: downgrade cyclonedx-python-lib to 9.1.0 for pip-audit 2.9.0 compatibility
  requirements.txt
Due: none

fix: update fastapi and starlette for sse-starlette 3.1.2 compatibility
  requirements.txt
Due: none

fix: add pytest-timeout to requirements.txt
  requirements.txt
Due: none

test: increase timeout for slow orchestrator chat tests
  tests/unit/agent/test_orchestrator_core.py
Due: check-file-size, pytest-changed-files

ci: skip uvloop installation on Windows
  .github/workflows/test-suite.yml
Due: none

ci: fix Windows uvloop skip with temp file
  .github/workflows/test-suite.yml
Due: none

fix: downgrade networkx to 3.4.2 for Python 3.10 compatibility
  requirements.txt
Due: none

fix: downgrade numpy to 2.2.6 for Python 3.10 compatibility
  requirements.txt
Due: none

fix: downgrade scikit-learn to 1.7.2 for Python 3.10 compatibility
  requirements.txt
Due: none

test: add explicit cleanup and increase timeout for slow chat tests
  tests/unit/agent/test_orchestrator_core.py
Due: check-file-size, pytest-changed-files
