Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
  pytest-changed-files: any of: ^victor/.*\.py$|^tests/unit/.*\.py$

fix(lsp): add file_extensions parameter and improve message parsing
  tests/unit/coding/test_lsp_integration_enhanced.py
  victor/coding/lsp/client.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix(chat_coordinator): update edge case tests for streaming implementation
  tests/unit/agent/coordinators/conftest.py
  tests/unit/agent/coordinators/test_chat_coordinator.py
Due: check-file-size, pytest-changed-files

fix(tests): fix API compatibility issues
  tests/performance/benchmarks/test_memory.py
  tests/qa/test_comprehensive_qa.py
  victor/ui/__init__.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: StateGraph API, VerticalConfig name field, ParallelExecutor config
  tests/conftest.py
  tests/performance/benchmarks/test_throughput.py
  tests/unit/workflows/test_graph_dsl.py
  victor/core/vertical_types.py
  victor/core/verticals/base.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: revert WorkflowGraph test to use correct API
  tests/unit/workflows/test_graph_dsl.py
Due: check-file-size, pytest-changed-files

fix: reorder VerticalConfig fields to fix dataclass constraint
  victor/core/verticals/base.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve flaky test_factory_container_caching and add container reset
  tests/conftest.py
  tests/integration/agent/test_orchestrator_factory_e2e.py
  tests/singleton_reset.py
Due: check-file-size

fix: populate VerticalConfig.name field in both YAML and programmatic paths
  victor/core/verticals/base.py
  victor/core/verticals/config/vertical_config_loader.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve integration test failures (6 fixes)
  tests/integration/verticals/test_context_migration.py
  tests/integration/verticals/test_cross_vertical_workflows_old.py
  tests/singleton_reset.py
  victor/devops/config/vertical.yaml
Due: check-file-size

fix: resolve flaky test_cache_hit_rate_optimization
  tests/integration/optimizations/test_performance_integration.py
Due: check-file-size

feat: implement Phase 2 and 3 of Victor Framework improvement plan
  tests/property/test_stage_transition_properties.py
  tests/unit/agent/coordinators/conftest.py
  tests/unit/agent/test_stage_transition_engine.py
  tests/unit/core/test_protocol_registration.py
  tests/unit/framework/test_prompt_builder_template.py
  victor/agent/protocols.py
  victor/agent/service_provider.py
  victor/agent/stage_transition_engine.py
  victor/core/verticals/protocol_decorators.py
  victor/framework/__init__.py
  victor/framework/prompt_builder_template.py
  victor/protocols/stage_transition.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: migrate handlers to @handler_decorator pattern
  victor/coding/handlers.py
  victor/dataanalysis/handlers.py
  victor/devops/handlers.py
  victor/rag/handlers.py
  victor/research/handlers.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: apply @register_protocols to vertical assistants
  victor/benchmark/assistant.py
  victor/coding/assistant.py
  victor/dataanalysis/assistant.py
  victor/devops/assistant.py
  victor/rag/assistant.py
  victor/research/assistant.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: add property-based tests for handler registry and mode controller
  tests/property/test_handler_registry_properties.py
  tests/property/test_mode_controller_properties.py
Due: check-file-size

feat: integrate ProviderLifecycleManager into orchestrator
  victor/agent/builders/provider_layer_builder.py
  victor/agent/orchestrator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add ProviderLifecycleManager for post-switch hooks
  tests/unit/agent/test_provider_lifecycle_manager.py
  victor/agent/provider_lifecycle_manager.py
  victor/protocols/provider_lifecycle.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add ModeControllerAdapter with protocol definition
  tests/unit/agent/test_mode_controller_protocol.py
  victor/agent/coordinators/mode_adapter.py
  victor/protocols/mode_controller.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add CapabilityInjector for DI-based capability management
  tests/unit/framework/test_capability_injection.py
  victor/core/verticals/capability_injector.py
  victor/protocols/capability_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add ISP-compliant protocol definitions
  tests/unit/protocols/test_capability_protocol.py
  tests/unit/protocols/test_type_checking.py
  victor/protocols/capability.py
  victor/protocols/extension_provider.py
  victor/protocols/tiered_config.py
  victor/protocols/workflow_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: add property-based tests for protocols and stage transitions
  tests/property/protocols/test_protocol_invariants.py
Due: check-file-size

refactor: remove deprecated HANDLERS dict and register_handlers functions
  victor/coding/handlers.py
  victor/dataanalysis/handlers.py
  victor/devops/handlers.py
  victor/rag/handlers.py
  victor/research/handlers.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: remove fallback code from orchestrator._apply_post_switch_hooks
  victor/agent/orchestrator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: use CapabilityInjector for FileOperationsCapability in verticals
  victor/benchmark/assistant.py
  victor/coding/assistant.py
  victor/dataanalysis/assistant.py
  victor/research/assistant.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: update discover_from_vertical to work with decorator-based registration
  victor/framework/handler_registry.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: update chat coordinator tests for tool execution handler mocking
  tests/unit/agent/coordinators/test_chat_coordinator.py
Due: check-file-size, pytest-changed-files

feat: complete Phase 6 - Cache Boundaries & Observability
  docs/PRODUCTION_READINESS_PHASE_6_COMPLETE.md
  docs/architecture/PHASE6_CACHE_BOUNDARIES_COMPLETION.md
  tests/unit/core/events/test_pattern_matcher.py
  tests/unit/tools/caches/test_selection_cache.py
  victor/core/events/pattern_matcher.py
  victor/core/registries/universal_registry.py
  victor/tools/caches/selection_cache.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add tool packs framework (Quick Win - Phase 2)
  docs/CODE_REVIEW_FINDINGS.md
  docs/COMPREHENSIVE_REFACTOR_PLAN.md
  tests/unit/framework/test_tool_packs.py
  victor/framework/tool_packs.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: migrate capability configs to VerticalContext (SOLID DIP Phase 1)
  victor/coding/capabilities.py
  victor/dataanalysis/capabilities.py
  victor/devops/capabilities.py
  victor/rag/capabilities.py
  victor/research/capabilities.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: update IToolSelector protocol to match async implementations (LSP Phase 3)
  victor/protocols/tool_selector.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add PromptBuilderTemplate implementations for all verticals
  victor/coding/coding_prompt_template.py
  victor/dataanalysis/dataanalysis_prompt_template.py
  victor/devops/devops_prompt_template.py
  victor/rag/rag_prompt_template.py
  victor/research/research_prompt_template.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

refactor: integrate PromptBuilderTemplate into verticals
  victor/coding/assistant.py
  victor/research/assistant.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: update VerticalRegistry.clear() to use correct registration function
  victor/core/verticals/base.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat: add event sampling mechanism for observability backpressure
  docs/PHASE4_COMPLETION_REPORT.md
  tests/unit/core/events/test_event_backends.py
  victor/core/events/backends.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

docs: add Phase 6 completion report for SOLID remediation
  docs/PHASE6_COMPLETION_REPORT.md
Due: none

fix: resolve Ruff linting errors (F821, F841, E721, B011, C403, C416)
  tests/benchmarks/test_performance_optimizations.py
  tests/integration/agent/skills/test_skill_chaining.py
  tests/mocks/examples.py
  tests/unit/agent/test_orchestrator_coverage.py
  tests/unit/core/verticals/test_capability_injector_extended.py
  tests/unit/core/verticals/test_capability_migration.py
  tests/unit/protocols/test_capability_protocol.py
  tests/unit/protocols/test_type_checking.py
  tests/unit/workflows/test_workflow_compiler_validation.py
  victor/agent/coordinators/chat_coordinator.py
  victor/agent/memory/semantic_memory.py
  victor/agent/mixins/legacy_api.py
  victor/agent/multimodal/audio_agent.py
  victor/agent/multimodal/vision_agent.py
  victor/agent/skills/skill_chaining.py
  victor/benchmark/handlers.py
  victor/core/cache/cache_analytics.py
  victor/core/cache/semantic_cache.py
  victor/core/verticals/__init__.py
  victor/core/verticals/capability_migration.py
  victor/protocols/tool_selector.py
  victor/security/authorization_enhanced.py
  victor/security/penetration_testing.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

feat(benchmark): migrate handlers to @handler_decorator pattern
  victor/benchmark/handlers.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

fix: resolve remaining Ruff linting errors (E731, E712)
  tests/deployment/test_rollback.py
  tests/integration/agent/skills/test_skill_chaining.py
  tests/mocks/examples.py
  tests/performance/optimizations/test_optimization_performance.py
  tests/unit/core/verticals/test_capability_migration.py
  tests/unit/core/verticals/test_isp_compliance.py
  tests/unit/core/verticals/test_lazy_proxy.py
  tests/unit/framework/test_common_middleware.py
  tests/unit/framework/test_lazy_initializer.py
  tests/unit/workflows/test_workflow_compiler_validation.py
  victor/core/verticals/capability_migration.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity, pytest-changed-files

test: fix test file formatting
  tests/unit/framework/test_vertical_integration.py
Due: check-file-size, pytest-changed-files
