Repository vjsingh1984/victor: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, check-imports, validate-modes, validate-capabilities, validate-teams, check-todos, check-docstrings, check-file-size, check-complexity

validate-workflows:
  name: Validate YAML Workflows
  entry: scripts/hooks/validate_workflows.sh
  language: script
  pass_filenames: true
  description: 'Validate YAML workflow files before commit. Checks YAML syntax, workflow compilation, and common errors. Run with VICTOR_VERBOSE_VALIDATION=1 for detailed output.
  
    '

check-imports:
  name: Check Python imports
  entry: python scripts/check_imports.py
  language: python
  pass_filenames: false

validate-modes:
  name: Validate mode configurations
  entry: python -m victor.core.mode_config
  language: python
  pass_filenames: false

validate-capabilities:
  name: Validate capability configurations
  entry: python -m victor.core.capabilities
  language: python
  pass_filenames: false

validate-teams:
  name: Validate team configurations
  entry: python -m victor.core.teams
  language: python
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME comments
  entry: scripts/hooks/check_todos.sh
  language: script
  description: 'Check for TODO/FIXME/HACK comments in code. Use this to track technical debt.
  
    '

check-docstrings:
  name: Validate docstrings
  entry: scripts/hooks/check_docstrings.py
  language: python
  description: 'Check that public functions and classes have docstrings. Google-style docstrings preferred.
  
    '

check-file-size:
  name: Check file size
  entry: scripts/hooks/check_file_size.sh
  language: script
  description: 'Check that Python files are not too large (>500 lines). Large files should be refactored into smaller modules.
  
    '

check-complexity:
  name: Check code complexity
  entry: scripts/hooks/check_complexity.py
  language: python
  description: 'Check cyclomatic complexity of functions. Functions with complexity > 10 should be refactored.
  
    '

docs(docs): Add comprehensive documentation for new features
  docs/CI_CD_SETUP.md
  docs/DEPLOYMENT_PIPELINE.md
  docs/EXECUTION_TRACING.md
  docs/ML_TEAMS.md
  docs/PERFORMANCE_BENCHMARKS.md
  docs/PERFORMANCE_README.md
  docs/PERFORMANCE_RESULTS.md
  docs/RELEASE_PROCESS.md
  docs/TEAM_ANALYTICS.md
  docs/TEAM_FORMATIONS.md
  docs/WORKFLOW_DEBUGGING.md
  docs/WORKFLOW_EXECUTION.md
  docs/architecture/COORDINATOR_QUICK_REFERENCE.md
  docs/architecture/MIGRATION_GUIDES.md
  docs/ci_cd/README.md
  docs/ci_cd/workflow_validation.md
  docs/development/WORKFLOW_HOOKS_README.md
  docs/development/pre_commit_hooks.md
  docs/error_patterns.md
  docs/observability/dashboards.md
  docs/observability/realtime_dashboard.md
  docs/observability/team_metrics.md
  docs/teams/collaboration.md
  docs/teams/team_templates.md
  docs/workflow_validation.md
  docs/workflows/TEAM_NODE_BENCHMARKS.md
  docs/workflows/advanced_formations.md
  docs/workflows/execution_replay.md
  docs/workflows/ml_formation_selection.md
  docs/workflows/performance_autotuning.md
  docs/workflows/team_node_migration.md
  docs/workflows/team_node_performance.md
  docs/workflows/team_nodes.md
Due: none

feat(scripts): Add utility scripts for CI, ML, observability, and workflows
  scripts/benchmark_runner.py
  scripts/benchmark_team_nodes.py
  scripts/ci/build_docker.sh
  scripts/ci/deploy.sh
  scripts/ci/run_lint.sh
  scripts/ci/run_tests.sh
  scripts/ci/run_workflow_tests.sh
  scripts/ci/smoke_test.sh
  scripts/ci/validate_workflows.sh
  scripts/hooks/check_complexity.py
  scripts/hooks/check_docstrings.py
  scripts/hooks/check_file_size.sh
  scripts/hooks/check_todos.sh
  scripts/hooks/validate_workflows.sh
  scripts/ml/collect_training_data.py
  scripts/ml/train_model.py
  scripts/observability/setup_dashboards.py
  scripts/performance_report.py
  scripts/teams/template_manager.py
  scripts/workflows/autotune.py
  scripts/workflows/replay.py
Due: check-file-size

feat(examples): Add workflow examples across all verticals
  examples/observability/README.md
  examples/observability/dashboard_setup.py
  examples/observability/team_monitoring.py
  examples/workflows/execution_replay_demo.py
  victor/coding/workflows/examples/adaptive_team.yaml
  victor/coding/workflows/examples/autotuned_team.yaml
  victor/coding/workflows/examples/collaborative_review.yaml
  victor/coding/workflows/examples/ml_adaptive_team.yaml
  victor/coding/workflows/examples/team_review.yaml
  victor/coding/workflows/examples/template_usage.yaml
  victor/dataanalysis/workflows/examples/team_analysis.yaml
  victor/devops/workflows/examples/hybrid_deployment.yaml
  victor/research/workflows/examples/dynamic_research.yaml
  victor/research/workflows/examples/team_research.yaml
Due: validate-workflows, check-file-size

feat(integrations): Add unified API server and integration tests
  observability/README.md
  observability/alerts/team_alerts.yml
  observability/dashboards/team_members.json
  observability/dashboards/team_overview.json
  observability/dashboards/team_performance.json
  observability/dashboards/team_recursion.json
  tests/integration/agent/test_orchestrator_workflows.py
  tests/integration/agent/test_orchestrator_workflows_comprehensive.py
  tests/integration/providers/provider_integration_base.py
  tests/unit/agent/test_tool_selector_health.py
  victor/integrations/api/QUICKSTART.md
  victor/integrations/api/UNIFIED_SERVER_README.md
  victor/integrations/api/event_bridge.py
  victor/integrations/api/run_server.py
  victor/integrations/api/test_unified_server.py
  victor/integrations/api/unified_server.py
  victor/ui/commands/workflow.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity

chore(config): Update project configuration for new features
  .gitignore
  README.md
  fep-XXXX-test.md
  pyproject.toml
  requirements.txt
Due: none

feat(workflows): Add workflow editor and ML formation selector
  .dockerignore
  tests/integration/workflow_editor/QUICK_START.md
  tests/integration/workflow_editor/TEST_REPORT.md
  tests/integration/workflow_editor/__init__.py
  tests/integration/workflow_editor/conftest.py
  tests/integration/workflow_editor/fixtures/README.md
  tests/integration/workflow_editor/fixtures/hitl_workflow.yaml
  tests/integration/workflow_editor/fixtures/simple_linear.yaml
  tests/integration/workflow_editor/test_connection_management.py
  tests/integration/workflow_editor/test_editor_import_export.py
  tests/integration/workflow_editor/test_team_formations.py
  victor/workflows/ml_formation_selector.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity

fix(models): Update embedding model configuration for pydantic v2
  tests/integration/workflows/test_ml_formation.py
  victor/coding/codebase/embeddings/models.py
  victor/storage/vector_stores/models.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity

feat: Add Tool Budget Coordinator for managing tool call budgets
  ARCHITECTURE.md
  Makefile
  docs/guides/proximadb_quickstart.md
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/integration/agent/conftest.py
  tests/integration/agent/test_orchestrator_integration_coverage.py
  tests/unit/workflows/test_adapters.py
  victor/agent/coordinators/__init__.py
  victor/agent/coordinators/tool_access_coordinator.py
  victor/agent/coordinators/tool_alias_resolver.py
  victor/agent/coordinators/tool_budget_coordinator.py
  victor/agent/coordinators/tool_coordinator.py
  victor/coding/codebase/embeddings/registry.py
  victor/core/registry/protocols.py
  victor/evaluation/correction/validators/go_validator.py
  victor/evaluation/correction/validators/rust_validator.py
  victor/framework/debugging/inspector.py
  victor/framework/middleware/__init__.py
  victor/framework/middleware/builder.py
  victor/framework/multi_agent/persona_provider.py
  victor/integrations/__init__.py
  victor/protocols/cache.py
  victor/providers/config_factory_registry.py
  victor/security/safety/content_patterns.py
  victor/security/safety/source_credibility.py
  victor/storage/vector_stores/registry.py
  victor/tools/tool_graph.py
  victor/ui/commands/models.py
  victor/workflows/adapters.py
  victor/workflows/cache.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity

fix: format remaining files and fix final F402 error
  tests/benchmark/test_orchestrator_refactoring_performance.py
  tests/unit/core/verticals/test_lazy_loader.py
  tests/unit/framework/validation/test_yaml.py
  victor/coding/assistant.py
  victor/config/templates/coding_vertical_template.yaml
  victor/core/verticals/base.py
  victor/core/verticals/lazy_loader.py
  victor/core/verticals/protocol_loader.py
  victor/devops/assistant.py
  victor/native/python/serialization.py
  victor/rag/assistant.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity

fix: resolve all remaining 28 ruff errors - 100% compliance
  docs/PERFORMANCE_VALIDATION_REPORT.md
  docs/VERTICAL_PROTOCOL_MIGRATION_STATUS.md
  docs/architecture/MIGRATION_GUIDES.md
  docs/performance/benchmark_results_2026-01-18.json
  fep-XXXX-vertical-isp-migration-summary.md
  run_performance_validation.py
  tests/benchmarks/test_tool_selection_performance.py
  tests/benchmarks/test_tool_selection_rust_baseline.py
  tests/integration/agent/test_orchestrator_workflows.py
  tests/integration/coordinators/__init__.py
  tests/integration/coordinators/test_extracted_coordinators_integration.py
  tests/integration/providers/provider_integration_base.py
  victor/benchmark/assistant.py
  victor/config/templates/INDEX.md
  victor/config/templates/dataanalysis_vertical_template.yaml
  victor/config/templates/devops_vertical_template.yaml
  victor/config/templates/rag_vertical_template.yaml
  victor/dataanalysis/assistant.py
  victor/devtools/dependency_viz.py
  victor/framework/validation/validators.py
  victor/framework/validation/yaml.py
  victor/native/accelerators/ast_processor.py
  victor/rag/assistant.py
  victor/teams/ml/formation_predictor.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity

fix: achieve 100% ruff compliance - zero errors
  docs/DEVELOPER_ONBOARDING.md
  tests/unit/agent/cache/backends/test_sqlite_backend.py
  tests/unit/core/verticals/test_extension_registry_integration.py
  tests/unit/workflows/test_adapters.py
  victor/agent/protocols.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity

fix: add fallback summary generation and improve error handling in orchestrator
  pytest.ini
  tests/load_test/test_scalability.py
  tests/unit/agent/coordinators/test_chat_coordinator.py
  tests/unit/agent/test_legacy_api.py
  tests/unit/agent/test_orchestrator_core.py
  victor/agent/coordinators/chat_coordinator.py
  victor/agent/mixins/legacy_api.py
  victor/agent/orchestrator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity

fix(chat-coordinator): Prevent Mock objects from being yielded as stream chunks
  tests/integration/test_chat_coordinator_integration.py
  victor/agent/coordinators/chat_coordinator.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity

fix(security): Replace test secrets with obviously fake values for GitHub secret scanning
  tests/security/test_security_audit.py
Due: check-file-size

docs: Add production release status document for v1.0.0
  PRODUCTION_RELEASE_STATUS.md
Due: none

docs: Add final production readiness assessment with verified test results
  ACTUAL_TEST_STATUS.md
  FINAL_PRODUCTION_ASSESSMENT.md
Due: none

fix(di): Import coordinator classes at runtime for container registration
  victor/agent/service_provider.py
Due: check-imports, check-todos, check-docstrings, check-file-size, check-complexity

docs: Add production ready summary and test timeout script
  PRODUCTION_READY_SUMMARY.md
  scripts/run_tests_with_timeout.py
Due: check-file-size

docs: Add final production status and summary
  FINAL_STATUS.md
Due: none

fix(tests): Remove deprecated timeout_method from pytest config
  pytest.ini
Due: none

fix(tests): Correct import path for ParallelExecutor in throughput test
  tests/performance/benchmarks/test_throughput.py
Due: check-file-size

docs: Add analysis for chat coordinator test failures
  CHAT_COORDINATOR_TEST_ANALYSIS.md
Due: none

docs: Add final test summary and chat coordinator analysis
  FINAL_TEST_SUMMARY_v1.0.0.md
Due: none

chore: Standardize version to 0.5.0 across all code files
  VERSION
  pyproject.toml
Due: none

docs: Add version 0.5.0 standardization report
  VERSION_0.5.0_STANDARDIZATION.md
Due: none

fix(tests): Partially fix multimodal skills integration tests
  tests/integration/agent/multimodal/test_multimodal_skills_integration.py
Due: check-file-size

fix(tests): Fix all outdated multimodal skills integration tests
  tests/integration/agent/multimodal/test_multimodal_skills_integration.py
Due: check-file-size

fix(benchmarks): Fix undefined variable in test_cache_write_performance
  tests/benchmarks/test_performance_optimizations.py
Due: check-file-size

fix(benchmarks): Fix undefined variable in test_end_to_end_scenario
  tests/benchmarks/test_performance_optimizations.py
Due: check-file-size

fix(deployment): Fix all failing development environment tests
  deployment/kubernetes/overlays/development/kustomization.yaml
  tests/deployment/test_development_environment.py
Due: check-file-size

fix(load): Add API server availability check to skip load tests
  tests/load/conftest.py
  tests/load/test_tool_execution_load.py
  tests/load/test_workflow_load.py
Due: check-file-size

fix(tests): Add coverage database cleanup script
  scripts/clean_coverage.sh
Due: none

Path conditions:
  validate-workflows: any of: ^victor/[^/]+/workflows/.*\.ya?ml$
  check-imports: any of: ^victor/.*\.py$
  validate-modes: any of: ^victor/config/modes/.*\.ya?ml$
  validate-capabilities: any of: ^victor/config/capabilities/.*\.ya?ml$
  validate-teams: any of: ^victor/config/teams/.*\.ya?ml$
  check-todos: any of: ^victor/.*\.py$
  check-docstrings: any of: ^victor/.*\.py$
  check-file-size: any of: .*\.py$
  check-complexity: any of: ^victor/.*\.py$
